// Define variables for your color scheme

// For example:
    $red: #FD1015;
    $blue: #167FFB;
    $yellow: #FFC65A;
    $orange: #E67E22;
    $green: #1EDD88;
    $gray: #0E0000;
    $light-gray: #F4F4F4;


$navbar: #fdfdfd;
$bloc: #fdfdfd;
$buttonaa: #fdfdfd;
$brandcolor: #3A89C1;
// $footer: #717171;
$footer: #2b2b2b;
// $backgroundaa: #ececec;
$backgroundaa: #dddddd;
$secondaryaa: #1D5F8F;
$entete: #666666;
$tourimage: #CAD1D9;
$champs: #e0e3e5;


$titrefont: #0e0000;
$descfont: #585a59;
$normfont: #0e0000;
$navbarfont: #7f7f7f;
$diapotitre: #000000;
$diapodesc: #808080;
$buttonbrand: #3a89c1;
$buttonwhite: #ffffff;
$headerprofil:  #212121;
$ilotprofil: #595959;