<p>Bonjour <%= @user.username %>,</p>
<br><br>
<p>Nous sommes heureux de vous accueillir sur notre plateforme communautaire</p>
<br>
<p>ARTAETAS rapproche artistes, amateurs et collectionneurs dans leur passion de l’Art.</p>
<p>Nous vous permettons d’acheter et de vendre vos oeuvres facilement et en direct.</p>
<p>Par son ouverture, ARTAETAS contribue à rendre le plaisir de l’art accessible.</p>
<br>
<p>Vous voulez partager votre compte membre sur vos réseaux sociaux? Copiez le lien ci-dessous:</p>
<p> http://www.artaetas.com/users/<%= @user.id %></p>
<br>
<p>En savoir plus sur l’équipe à l’origine d’ARTAETAS:</p>
<a href="https://www.youtube.com/watch?v=ADY4dpd64vw">découvrez notre présentation en vidéo,</a>
<a>nos tutoriels pour une utilisation facile,</a>
<a href="http://www.artaetas.com/cgu">nos conditions générales d’utilisation,</a>
<a href="http://www.artaetas.com/politiquedeconfidentialite">notre politique de confidentialité.</a>
<br>
<p>A très bientôt.</p>
<br>
<p>L’équipe ARTAETAS</p>
<br>
<p>Cet e-mail est un e-mail automatique, veuillez ne pas y répondre.</p>
<p>Nous vous invitons à écrire à contact@artaetas.com pour tout renseignement.</p>
