// Specific CSS for your home-page
.home-page-bg {
  width: 100%;
}

.home-page-bg img {
  // background-image: image-url('bgv1.png');
  // background-size: 100vw 100vh;
  // background-repeat: no-repeat;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
