// .grid { 
//   background: #DDD;
//   margin-left: 50px;
//   margin-right: 50px;
//   margin-top: 75px;
// }
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }
// .grid-sizer,
// .grid-item { width: 30%; }
// .grid-item { 
//     float: left; 
//     margin-bottom: 40px;
// }
// .grid-item img {
//   display: block;
//   width: 100%;
//   object-fit: cover;
// }


// .gridouille-container {
    
//     margin-left: auto;
//     margin-right: auto;
    
// }

.gridouille { 
  background: $backgroundaa;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 50px;
}
.gridouille:after {
  content: '';
  display: block;
  clear: both;
}
.gridouille-sizer,
.gridouille-item { width: 300px; }
.gridouille-item { 
    float: left; 
    margin-bottom: 1.75%;
    background-color: $bloc;
    padding: 5px;
}
.gridouille-item img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.gutterouille-sizer { width: 20px; }