<div class="aa-me-undernavbar"></div>
  <ul class="nav nav-tabs aa-under-navbar" id="myTab" role="tablist" style="height: 20px;">
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <a class="nav-link active" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="true">Mes transactions</a>
    </li>
  </ul>

<div class="tab-content" id="myTabContent">
      <div class="tab-pane fade text-center active show" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
    
      <div class="aa-me-moncompte-container">
        <div class="aa-me-infoperso">
          <h2 class="text-left">Mes Transactions</h2>        
        </div>
      </div>
    
  Aucune transaction pour le moment!
  </div>

</div>