<div class="aa-footer">
  <div class="aa-footer-artaetas aa-footer-item">
    <%= inline_svg "ae_noir.svg", class: "aa-footer-ae" %>
  </div>
  <div class="aa-share-container aa-footer-item">
    <p class="p-footer-share text-center">Suivre Artaetas</p>
    <div class="aa-share">
        <div class="social-share-button" data-title="" data-img="" data-url="" data-desc="" data-via="artaetas">
          <a rel="nofollow " data-site="twitter" class="ssb-icon ssb-icon2 ssb-twitter2" onclick="return SocialShareButton.share(this);" title="Share to Twitter" data-twitter-hashtags="" href="#"></a>
          <a rel="nofollow " data-site="facebook" class="ssb-icon ssb-icon2 ssb-facebook2" onclick="return SocialShareButton.share(this);" title="Share to Facebook" href="#"></a>
          <a rel="nofollow " data-site="tumblr" class="ssb-icon ssb-icon2 ssb-tumblr2" onclick="return SocialShareButton.share(this);" title="Share to Tumblr" data-twitter-hashtags="" data-type="photo" data-quote="" data-summary="" href="#"></a>
          <a rel="nofollow " data-site="pinterest" class="ssb-icon ssb-icon2 ssb-pinterest2" onclick="return SocialShareButton.share(this);" title="Share to Pinterest" data-twitter-hashtags="" data-type="photo" data-quote="" data-summary="" href="#"></a>
          <a rel="nofollow " data-site="linkedin" class="ssb-icon ssb-icon2 ssb-linkedin2" onclick="return SocialShareButton.share(this);" title="Share to Linkedin" data-twitter-hashtags="" data-type="photo" data-quote="" data-summary="" href="#"></a>
          <a rel="nofollow " data-site="instagram" class="ssb-icon ssb-icon2 ssb-insta2" onclick="" title="Instagram Artaetas" data-twitter-hashtags="" data-type="" data-quote="" data-summary="" href="#"></a>
        </div>
    </div>
  </div>
  <div class="aa-footer-column aa-footer-item">
    <p class="p-footer-titre">Infos</p>
    <p class="p-footer-link">CGU</p>
    <p class="p-footer-link">CGV</p>
    <p class="p-footer-link">Contact</p>
    <p class="p-footer-link">Autres Mentions Legales</p>
  </div>
</div>
