<div class="modal fade" id="infosmodal" tabindex="-1" role="dialog" aria-labelledby="infosModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header aa-who-modal-header">
        <%= svg 'artaetas_noir2' %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-cquoi">
        <div class="aa-who-modal">
            <!-- <p class="aa-who-p-title">Le passage de Lorem Ipsum standard, utilisé depuis 1500</p> -->
          <p class="aa-who-p-modal">Artaetas veut être le maillon qui facilitera l'accès à l’art pour tous.
          « Artes Aetas », le temps de l’art en latin.</p>
          <h6>LE TEMPS...</h6>
          <!-- <p class="aa-who-p-title">Section 1.10.32 du "De Finibus Bonorum et Malorum" de Ciceron (45 av. J.-C.)</p> -->
          <p class="aa-who-p-modal">...de rendre l’art accessible à tous, que chaque amateur d’art puisse profiter d’un large choix avec un accès direct aux artistes et aux collectionneurs.</p>

          <p class="aa-who-p-modal">...pour chaque talent artistique de rayonner sur une plateforme qui leur est dédiée, simple, totalement gratuite, construite pour un usage mobile.</p>

          <p class="aa-who-p-modal">...pour les particuliers de pouvoir facilement renouveler leurs collections, vendre ou acheter leurs oeuvres en totale liberté.   </p>
          <br>
          <p class="aa-whoo-footer-modal">Artaetas, c’est la simplicité, c’est le choix, c’est la liberté, pour tous, artistes, amateurs et collectionneurs.</p>
        </div>
      </div>
    </div>
  </div>
</div>