<div class="modal fade" id="infosmodal" tabindex="-1" role="dialog" aria-labelledby="infosModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header aa-who-modal-header">
        <%= svg 'artaetas_noir2' %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-cquoi">
        <div class="aa-who-modal">
            <!-- <p class="aa-who-p-title">Le passage de Lorem Ipsum standard, utilisé depuis 1500</p> -->
          <p class="aa-who-p-modal">ARTAETAS veut être le maillon qui rapprochera artistes, amateurs et collectionneurs dans un lieu unique, simple et libre d’accès. 
          ARTES AETAS: le temps de l’art en latin.</p><br>
          <!-- <p class="aa-who-p-title">Section 1.10.32 du "De Finibus Bonorum et Malorum" de Ciceron (45 av. J.-C.)</p> -->
          <p class="aa-who-p-modal">ARTAETAS accompagne aussi les amateurs dans leur passion pour l’art. Les envies changent avec le temps, ARTAETAS permet de faciliter ces évolutions.</p>
          <br>
          <p class="aa-who-p-modal">ARTAETAS aide chacun à accéder au plaisir de l’art. Une oeuvre originale et inspirée procure un plaisir intense. C’est l’expérience émotionnelle que nous souhaitons partager. </p>
          <br>
          <p class="aa-who-p-modal">ARTAETAS, it’s time for art !</p>
          <br>
          <!--<p class="aa-whoo-footer-modal">ARTAETAS, c’est la simplicité, c’est le choix, c’est la liberté, pour tous, artistes, amateurs et collectionneurs.</p>-->
          <iframe class="embed-responsive-item" style="margin-top: 25px;" width="420" height="420" src="https://www.youtube.com/embed/ADY4dpd64vw?modestbranding=1&rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>