<main class="aa-cgu">
    <h3>Informations légales</h3>
    <p class="aa-legal-p">
        Le site Internet www.artaetas.com, ci-après dénommé « Artaetas » propose un service de dépôt et de consultation d’annonces sur Internet relatif aux oeuvres d’art et objets de collection et dédié aux professionnels du milieu artisitique, aux artistes, amateurs, collectionneurs et tout particulier.
        L'accès au site, sa consultation et son utilisation sont subordonnés à l'acceptation sans réserve des présentes Conditions Générales d'Utilisation de Artaetas.
        Le site est édité par YOURARTAVENUE, SAS au capital de 10.000 euros, immatriculée au registre du commerce et des sociétés de Lille métropole sous le numéro 849 992 334. Siège social : 24 allée des allumoirs, 59493 Villeneuve d’ascq. 
        Le Directeur de Publication de Artatetas est Monsieur Nicolas AUBOIROUX.
        Pour toute question sur l'entreprise, vous pouvez utiliser le formulaire de contact prévu à cet effet en précisant le motif de votre question.
        Artaetas est hébergé par Heroku Inc. dont le siège social est situé 32111th Street, San Francisco, USA. 
    </p>
    <h3>Définitions</h3>
    <p class="aa-legal-p">
        Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales d'Utilisation du Service Artatetas (ci-après dénommées les " CGU ") la signification suivante :
        Acheteur : désigne tout membre, personne physique ou morale titulaire d’un compte membre qui achète ou souhaite acheter un ou plusieurs biens sur Artaetas à un vendeur.
        Annonce : désigne l'ensemble des éléments et données (visuelles, textuelles, sonores, photographies, dessins), déposé par un Annonceur sous sa responsabilité éditoriale, en vue de vendre un bien et diffusé sur Artaetas et ses Applications.
        Annonceur : désigne tout membre, personne physique ou morale titulaire d’un compte membre, et ayant déposé et mis en ligne une Annonce via Artaetas. 	
        Applications : désigne l’application Android téléchargeable gratuitement sur un téléphone Android depuis le Google Play Store, et l’application optimisée pour iPhone et iPad téléchargeable depuis l’App Store d’Apple gratuitement sur un iPhone ou un iPad disposant a minima, de la version iOS 9 pour iPhone et iPad, permettant aux Utilisateurs et aux Annonceurs d’accéder à Artaetas tel que défini à l’article 3.1 des présentes CGU.
        Bien : désigne tout produit dont la vente n’est pas interdite par la réglementation locale applicable ni par les règles de diffusion du Site et qui est proposé à la vente par le Vendeur sur le Site.
        Compte membre : désigne l'espace gratuit, accessible depuis le Site Internet et les Applications, que tout membre doit se créer, et à partir duquel il peut diffuser, gérer, visualiser ses Annonces, souscrire à une ou des option(s) payante(s), prendre contact avec un autre membre du Site.
        Evaluation : désigne toute évaluation d’un Membre réalisée par un autre membre et représentée quantitativement par une note allant de 1 à 5 étoiles affichée sur le compte membre. L’Acheteur et le Vendeur peuvent se fournir une évaluation mutuelle uniquement après qu’une Transaction ait été réalisée entre eux sur le Site ou les Applications.
        Membre : désigne tout Utilisateur, personne physique ou morale titulaire d’un compte membre. 
        Service Artaetas : désigne les services Artaetas mis à la disposition des Utilisateurs et des Annonceurs sur le Site Internet et les Applications tels que décrits à l'article 2 des présentes CGU.
        Site : désigne le site internet exploité par YOURARTAVENUE accessible principalement depuis l'URL www.artaetas.com et permettant aux Utilisateurs et aux Annonceurs d'accéder via internet au service Artaetas décrit à l'article 3.1 des présentes CGU.
        Utilisateur : désigne tout visiteur, ayant accès au service Artaetas via le Site et les Applications et consultant Artaetas, accessible depuis les différents supports.
        Transaction : désigne les transactions qui transfèrent la propriété d’un Bien d’un Vendeur à un Acheteur, à compter de la réalisation du paiement et la réception du Bien par l’Acheteur.
        Vendeur : désigne tout membre qui propose un ou plusieurs Biens à la vente.
        YOURARTAVENUE SAS : désigne la société qui édite et exploite le Site et les Applications : YOURARTAVENUE, SAS au capital de 10.000 euros, immatriculée au registre du commerce et des sociétés de Lille métropole sous le numéro 849 992 334, dont le siège social est situé 24 allée des allumoirs, 59493 Villeneuve d’Ascq. 
    </p>
    <h2>OBJET - ACCEPTATION</h2>
    <p class="aa-legal-p">
        Les CGU ont pour objet de déterminer les conditions d'utilisation (i) du Service Artaetas mis à disposition des Membres, des Utilisateurs et des Annonceurs via le Site et les Applications.
        Les conditions de souscription par les Annonceurs aux options payantes (dénommées ci-après " Options Payantes") sont fixées dans les conditions générales de vente.
        Tout Utilisateur - tout Annonceur, tout Acheteur et  tout Vendeur déclare en accédant et utilisant le service Artaetas, depuis le Site et/ou les Applications, avoir pris connaissance des présentes Conditions Générales d’Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. Les présentes CGU sont donc pleinement opposables aux Membres, aux Utilisateurs, aux Annonceurs, aux Acheteurs et aux Vendeurs.
    </p>
    
    <h2>UTILISATION DU SERVICE ARTAETAS</h2>
    
    <h3>1  Règles générales</h3>
    <p class="aa-legal-p">
        Tout Utilisateur – tout Membre déclare être informé qu’il devra, pour accéder au Service Artaetas, disposer d’un accès à l’Internet souscrit auprès du fournisseur de son choix, dont le coût est à sa charge, et reconnaît que :
        La fiabilité des transmissions est aléatoire en raison, notamment, du caractère hétérogène des infrastructures et réseaux sur lesquelles elles circulent et que, en particulier, des pannes ou saturations peuvent intervenir ;
        Il appartient à l’Utilisateur ou au Membre de prendre toute mesure qu’il jugera appropriée pour assurer la sécurité de son équipement et de ses propres données, logiciels ou autres, notamment contre la contamination par tout virus et/ou de tentative d’intrusion dont il pourrait être victime ;
        Tout équipement connecté au Site est et reste sous l’entière responsabilité de l’Utilisateur ou Membre, la responsabilité de YOURARTAVENUE ne pourra pas être recherchée pour tout dommage direct ou indirect qui pourrait survenir du fait de leur connexion au Site Internet.
        Le Membre s’engage, le cas échéant, à respecter et à maintenir la confidentialité des Identifiants de connexion à son Compte membre et reconnaît expressément que toute connexion à son Compte membre, ainsi que toute transmission de données depuis son Compte membre sera réputée avoir été effectuée par le Membre.
        Toute perte, détournement ou utilisation des Identifiants de connexion et leurs éventuelles conséquences relèvent de la seule et entière responsabilité du Membre.
        L'Annonceur est informé et accepte que pour des raisons d'ordre technique, son Annonce ne sera pas diffusée instantanément après son dépôt sur le Site et les Applications.
        L'Annonceur est informé qu'en publiant son Annonce sur le Site, celle-ci est susceptible d'être partagée par tout Utilisateur et/ou tout Membre et/ou tout Annonceur sur le réseau social Facebook ou tout autre réseau social via le bouton de partage concerné intégré dans les pages.
        Toute Annonce publiée sera diffusée sur le Site et les Applications.
        Tout Annonceur est informé que YOURARTAVENUE et toutes sociétés liées à YOURARTAVENUE sont susceptibles d’éditer des services d’Annonces. Tout Annonceur accepte que YOURARTAVENUE et toutes sociétés liées à YOURARTAVENUE puissent diffuser ses Annonces jusqu’à leur suppression.
    </p>
    <h3>2 Fonctionnalités</h3>
    <p class="aa-legal-p">
        Le Service Artaetas proposé aux Utilisateurs, aux Membres et aux Annonceurs varie en fonction du statut de l’utilisateur. 
    </p>
    <h4>1)    Fonctionnalités accessibles aux Utilisateurs non logués depuis le Site et les Applications </h4>
    <p class="aa-legal-p">
        La consultation de toutes les Annonces diffusées
        Signaler un abus
        Le partage d'une Annonce sur Facebook ou tout autre réseaux social via le bouton applicatif de partage 
    </p>
    <h4>2)    Fonctionnalités accessibles aux Utilisateurs logués depuis le Site et les Applications</h4>
    <p class="aa-legal-p">
        En plus des fonctionnalités accessibles aux Utilisateurs non logués, les Utilisateurs logués qui ont par conséquence de statut de Membre, bénéficient des fonctionnalités supplémentaires suivantes :
        
        Le dépôt d'Annonce
        L'accès à l'espace "Mes favoris" :
        La gestion d'Annonce via l'onglet "Mes annonces" du Compte Membre :
        la suppression d'Annonce :
        la modification d'Annonce
        la souscription d'Option(s) Payante(s) par carte bancaire
        L’accès aux coordonnées d’un autre membre
        L'accès et la gestion du Compte Membre :
        la gestion (actualisation, modification etc.), à tout moment, des informations personnelles renseignées lors de la création du Compte Membre :  	
        Informations obligatoires : pseudo, nom, prénom, statut, email, mot de passe, téléphone 
        Le suivi des :
        Options Payantes souscrites ;
        L’accès aux factures émises par YOURARTAVENUE
        L’accès aux coordonnées autorisées des autres Membres.
        
        Les Membres dans leurs contacts en direct, par intermédiaire, par email ou téléphone ou de n’importe quel autre type de support,s’engagent à adopter un comportement respectueux et loyal à l’égard de leurs interlocuteurs.
         
        En particulier, les Membres s’engagent à ne pas avoir de contacts qui :
        •    violent, détournent ou enfreignent les droits de la société YOURARTAVENUE, des personnes qui utilisent nos Services ou des autres tiers, y compris les droits à la vie privée, à l’image, de propriété intellectuelle ou autres droits exclusifs ;
        •    sont de nature illégale, obscène, diffamatoire, menaçante, injurieuse, intimidante, haineuse, pédophile, discriminatoire, racialement ou ethniquement offensante, et/ou assimilés à du harcèlement ou incitent ou encouragent un comportement illégal ou déplacé pour d’autres raisons, y compris la promotion de crimes violents ;
        •    sont à caractère publicitaire ou commercial ;
        •    encouragent l’acquisition de biens dont la commercialisation est interdite ;
        •    impliquent la publication de mensonges, fausses déclarations, assertions trompeuses, erronées ou de nature à induire en erreur les Membres ;
        •    usurpent l’identité d’autrui ;
        •    entraînent l’envoi d’emails de masse, des messages automatiques, des numérotations automatiques ou un mauvais fonctionnement des Services Artaetas (logiciels ou virus) et/ou autres pratiques similaires ;
        •    dirigent les Membres et Utilisateurs vers un site autre que le site Artaetas, notamment un site concurrent.
        
        Les Membres sont seuls responsables du contenu des échanges réalisés entre eux.
         
        Nous recommandons aux Membres et Utilisateurs de faire preuve de vigilance dans la communication à leur interlocuteur d’informations personnelles.  
         
        YOURARTAVENUE se réserve la faculté de suspendre ou interdire l’accès au Service Artaetas, de tout Membre ne respectant les présentes Conditions d’Utilisation.
        
    </p> 
    <h3>3 Données à caractère personnel</h3>
    <p class="aa-legal-p">
        Tout traitement de données personnelles dans le cadre des présentes est soumis aux dispositions de notre politique de confidentialité, qui fait partie intégrante des présentes CGU. 
    </p>
    
    <h3>4 Evaluations entre Membres</h3>
    <p class="aa-legal-p">
        Evaluation réciproque des Membres
        A la suppression d’une annonce par le Vendeur, si cette suppression est liée à la vente de l’objet de l’Annonce, le Vendeur sera invité à déclarer le Membre Acheteur ainsi qu’à l’évaluer sur l’objet de la transaction effectuée entre eux sur le Site ou les Applications.
        Le Membre Acheteur sera aussi sollicité pour évaluer le Vendeur uniquement à l’issue d’une Transaction effectuée entre eux sur le Site ou les Applications. 
        L’Acheteur et le Vendeur sont libres de s’évaluer réciproquement ou non après chaque Transaction. Chacun s’engage à ne laisser que des Evaluations objectives et loyales.
        La moyenne arithmétique des Evaluations données par l’ensemble des Membres ayant évalué un autre Membre après finalisation d’une Transaction avec ce dernier sur le Site ou les Applications (ci-après « Note Globale d’Evaluation «) est affichée sur le compte Membre du Membre. 
        Les Evaluations ne sont soumises à aucun contrôle de la part de YOURARTAVENUE.
        Aucune contrepartie sous quelque forme que ce soit n’est fournie en échange du dépôt d’une Evaluation sur le Site ou les Applications.
        L’Evaluation est prise en compte dans la Note Globale d’Evaluation tant que le Compte Membre demeure actif. 
        Il est formellement interdit par quelque manière que ce soit d’influencer ou manipuler cette Note Globale d’Evaluation en dehors de toute Evaluation objective et réelle. Toute manipulation fera l’objet à minima de correction voire d’exclusion du Site du ou des Membres concernés. 
    </p>
    
    <h3>5 Livraison et paiement de l’objet de la transaction</h3>
    <p class="aa-legal-p">
        Le Vendeur et l’Acheteur s’engagent à trouver un accord mutuel pour la livraison et le paiement de l’objet de la transaction. Cette livraison pourra se faire par exemple mais de manière non limitative par une remise en mains propres ou par l’envoi via un service de livraison ou intermédiaire. Le mode de paiement devra être accordé à l’avance entre le Vendeur et l’Acheteur sous leur seule responsabilité. Le vendeur et l’Acheteur sont seuls responsables des choix et des conséquences éventuelles liées au choix de l’objet de la transaction, à son mode de livraison et de paiement. ARTAETAS recommande la plus grande vigilance par rapport aux transactions. Il est recommandé dans les transactions de procéder à toute vérification nécessaire pour se prémunir contre la contrefaçon ou la fraude. En particulier, il est fortement recommandé de procéder à la vérification de l’identité des parties prenantes, des preuves de propriété, des preuves d’authenticité, de l’état réel de l’objet de la Transaction en une ou plusieurs rencontres si nécessaire avant de procéder à la Transaction. 
    </p>
    
    <h2>MODERATION DES ANNONCES</h2>
    <h3>1 Suppression des Annonces illicites</h3>
    <p class="aa-legal-p">
        YOURARTAVENUE se réserve le droit de supprimer, sans préavis ni indemnité ni droit à remboursement, toute Annonce qui ne serait pas conforme aux règles de diffusion du Service ARTAETAS et/ou qui serait susceptible de porter atteinte aux droits d'un tiers.
    </p>
    <h3>2 Notification des abus</h3>
    <p class="aa-legal-p">
        Il est permis à tout Utilisateur de signaler un contenu abusif à partir du Site et des Applications :
        •    soit en cliquant sur le lien "signaler un contenu abusif" situé sur chaque page d'Annonce.
        •    soit par mail en cliquant sur le lien "contact"
    </p>
    <h2>RESPONSABILITES ET GARANTIES</h2>
    <h3>1 Engagements de l’Annonceur</h3>
    <p class="aa-legal-p">
        L'Annonceur garantit détenir tous les droits (notamment des droits de propriété artistique) ou avoir obtenu toutes les autorisations nécessaires à la publication de son Annonce.
        L'Annonceur garantit que l'Annonce ne contrevient à aucune réglementation en vigueur (notamment relatives à la publicité, à la concurrence, à la promotion des ventes, à l'utilisation de la langue française, à l'utilisation de données personnelles, à la prohibition de la commercialisation de certains biens ou services), ni aucun droit de tiers (notamment aux droits de propriété artistique, intellectuelle et aux droits de la personnalité) et qu'il ne comporte aucun message diffamatoire ou dommageable à l'égard de tiers.
        Ainsi, l'Annonceur s'engage notamment à ce que l'Annonce ne contienne :
        aucun lien hypertexte redirigeant les Utilisateurs notamment vers des sites internet exploités par tout tiers à la société YOURARTAVENUE
        aucune information fausse, mensongère ou de nature à induire en erreur les Utilisateurs
        aucune mention diffamatoire ou de nature à nuire aux intérêts et/ou à l'image de YOURARTAVENUE ou de tout tiers
        aucun contenu portant atteinte aux droits de propriété artistique ou intellectuelle de tiers
        aucun contenu à caractère promotionnel ou publicitaire en lien avec l'activité de l'Annonceur. En effet, une Annonce est destinée à promouvoir un produit et n'est pas un support de publicité
        L'Annonceur s'engage à ne proposer dans les Annonces que des biens disponibles dont il dispose. L'Annonceur s'engage, en cas d'indisponibilité du bien, à procéder au retrait de l'Annonce du Service ARTAETAS dans les plus brefs délais.
        L'Annonceur déclare connaître l'étendue de diffusion du Site, avoir pris toutes précautions pour respecter la législation en vigueur des lieux de réception et décharger YOUARTAVENUE de toutes responsabilités à cet égard.
        Dans ce cadre, l'Annonceur déclare et reconnaît qu'il est seul responsable du contenu des Annonces qu'il publie et rend accessibles aux Utilisateurs, ainsi que de tout document ou information qu'il transmet aux Utilisateurs.
        L'Annonceur assume l'entière responsabilité éditoriale du contenu des Annonces qu'il publie.
        En conséquence, l'Annonceur relève YOUARTAVENUE, ses sous-traitants et fournisseurs, de toutes responsabilités, les garantit contre tout recours ou action en relation avec l'Annonce qui pourrait être intenté contre ces derniers par tout tiers, et prendra à sa charge tous les dommages-intérêts ainsi que les frais et dépens auxquels ils pourraient être condamnés ou qui seraient prévus à leur encontre par un accord transactionnel signé par ces derniers  avec ce tiers , nonobstant tout dommages-intérêts dont YOURARTAVENUE, ses sous-traitants et fournisseurs pourraient réclamer à raison des faits dommageables de l’Annonceur.
        En déposant toute Annonce, chaque Annonceur reconnaît et accepte que YOUARTAVENUE puisse supprimer, ou refuser, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Annonceur aux fins de son dépôt ou de la souscription à des Options Payantes, une Annonce qui serait contraire notamment à la loi française, aux règles de diffusion du Service ARTAETAS fixées par YOURARTAVENUE.
        De manière générale, il est de la responsabilité des Annonceurs de vérifier leur statut de particulier ou de professionnel, notamment au regard des articles L 121-1 et L 110-1 du Code de commerce selon lesquels "sont commerçants ceux qui exercent des actes de commerce et en font leur profession habituelle" et "La loi répute actes de commerce : tout achat de biens meubles pour les revendre, soit en nature, soit après les avoir travaillés et mis en oeuvre [...]".
        L’Annonceur déclare connaître et s’engage à respecter le droit fiscal auquel il est soumis sur les ventes qu’il réalise avec le site ARTAETAS. Il déclare et reconnaît qu'il est seul responsable de ses déclarations fiscales et de leurs conséquences.
        
        L'Annonceur s'engage également à ce que son Compte Membre ne contienne :
        aucune information obligatoire fausse et/ou mensongère
        aucune information portant atteinte aux droits d'un tiers
        Dans ce cadre, le titulaire déclare et reconnaît qu'il est seul responsable des informations renseignées lors de la création de son Compte Membre.
        En créant un Compte Membre, chaque titulaire reconnaît et accepte que YOURARTAVENUE puisse supprimer, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Annonceur aux fins de souscription à des Options Payantes, un compte qui serait contraire notamment à la loi française et/ou aux règles de diffusion fixées par YOURARTAVENUE.
    </p>
    <h3>2 Responsabilité et obligations de YOURARTAVENUE</h3>
    <p class="aa-legal-p">
        En sa qualité d'hébergeur, YOUARTAVENUE est soumise à un régime de responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi nº2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
        YOUARTAVENUE ne saurait donc en aucun cas être tenue responsable du contenu des Annonces publiées par les Annonceurs et ne donne aucune garantie, expresse ou implicite, à cet égard.
        YOURARTAVENUE est un tiers aux correspondances et relations entre les Annonceurs et les Utilisateurs, et exclut de ce fait toute responsabilité à cet égard. La réalisation des transactions, toutes leurs conséquences, la relation entre Untilisateurs et Annonceurs, est de la responsabilité unique des Utilisateurs et des Annonceurs.
    </p>
    
    <h3>3 Limitation de responsabilité</h3>
    <p class="aa-legal-p">
        YOURARTAVENUE s'engage à mettre en œuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture du Service ARTAETAS aux Utilisateurs et aux Annonceurs.
        Toutefois, YOURARTAVENUE décline toute responsabilité en cas de :
        interruptions, de pannes, de modifications et de dysfonctionnement du Service ARTAETAS quel que soit le support de communication utilisé et ce quelles qu'en soient l'origine et la provenance,
        la perte de données ou d'informations stockées par YOURARTAEVNUE . Il incombe aux Annonceurs de prendre toutes précautions nécessaires pour conserver les Annonces qu'ils publient via le Service ARTAETAS;
        impossibilité momentanée d'accès au Site Internet et/ou aux Applications en raison de problèmes techniques et ce quelles qu'en soient l'origine et la provenance,
        dommages directs ou indirects causés à l'Utilisateur ou l'Annonceur, quelle qu'en soit la nature, résultant du contenu des Annonces et/ou de l'accès, de la gestion, de l'Utilisation, de l'exploitation, du dysfonctionnement et/ou de l'interruption du Service ARTAETAS, 
        utilisation anormale ou d'une exploitation illicite du Service ARTAETAS par tout Utilisateur ou Annonceur,
        attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou définitive, et pour quelque cause que ce soit, de l’accès au réseau internet.
        La responsabilité de YOURARTAVENUE ne pourra être engagée que pour les dommages directs subis par l’Annonceur, résultant d’un manquement à ses obligations contractuelles telles que définies aux présentes. L’Utilisateur – l’Annonceur renonce donc à demander réparation à YOURARTAVENUE à quelque titre que ce soit, de dommages indirects tels que le manque à gagner, la perte de chance, le préjudice commercial ou financier, l’augmentation de frais généraux ou les pertes trouvant leur origine ou étant la conséquence de l’exécution des présentes.
        Tout Utilisateur et Annonceur est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. 
        Les Utilisateurs et Annonceurs sont seuls responsables des transactions ainsi réalisées et de leurs conséquences.
    </p>
    
    <h2>PROPRIETE INTELLECTUELLE</h2>
    <p class="aa-legal-p">
        Tous les droits de propriété intellectuelle (tels que notamment droits d'auteur, droits voisins, droits des marques, droits des producteurs de bases de données) portant tant sur la structure que sur les contenus non publiés par les Membres  et sur le Site et les Applications et notamment les images, sons, vidéos, photographies, logos, marques, éléments graphiques, textuels, visuels, outils, logiciels, documents, données, etc. (ci-après désignés dans leur ensemble " Eléments ") sont réservés. Ces Eléments sont la propriété de YOURARTAVENUE. Ces Eléments sont mis à disposition des Membres, à titre gracieux, pour la seule utilisation du Service ARTAETAS. 
        Le contenu du Site issu des Eléments publiés par les Membres (tels que les images, logos, éléments graphiques) fera exception à cette propriété par YOURARTAVENUE. La propriété de ces éléments publiés restent celle des membres ou de ceux qu’ils déclarent représenter. 
        Toute utilisation non expressément autorisée des Eléments du Site Internet et des Applications entraîne une violation des droits d'auteur et constitue une contrefaçon. Elle peut aussi entraîner une violation des droits à l'image, droits des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.
        
        Tout Utilisateur et Membre du Service ARTAETAS s'engagent notamment à ne pas :
        utiliser ou interroger le Service ARTAETAS pour le compte ou au profit d'autrui ;
        extraire, à des fins commerciales ou non, tout ou partie des informations ou des publications présentes sur le Service ARTAETAS et sur le Site et les Applications ;
        reproduire sur tout autre support, à des fins commerciales ou non, tout ou partie des informations ou des petites Annonces présentes sur le Service ARTAETAS et sur le Site Internet et les Applications permettant de reconstituer tout ou partie des fichiers d'origine ;
        utiliser un robot, notamment d'exploration (spider), une application de recherche ou récupération de sites Internet ou tout autre moyen permettant de récupérer ou d'indexer tout ou partie du contenu du Site Internet et des Applications, excepté en cas d'autorisation expresse et préalable de YOURARTAVENUE;
        copier les informations sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d'origine.
        Toute reproduction, représentation, publication, transmission, utilisation, modification ou extraction de tout ou partie des Eléments et ce de quelque manière que ce soit, faite sans l'autorisation préalable et écrite de YOURARTAVENUE est illicite. Ces actes illicites engagent la responsabilité de ses auteurs et sont susceptibles d'entraîner des poursuites judiciaires à leur encontre et notamment pour contrefaçon.
        
        Les marques et logos ARTAETAS, ainsi que les marques et logos des partenaires de YOURARTAVENUE sont des marques déposées. Toute reproduction totale ou partielle de ces marques et/ou logos sans l'autorisation préalable et écrite de YOURARTAVENUE est interdite.
        YOURARTAVENUE est producteur des bases de données du Service ARTAETAS. En conséquence, toute extraction et/ou réutilisation de la ou des bases de données au sens des articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite.
        YOURARTAVENUE se réserve la possibilité de saisir toutes voies de droit à l'encontre des personnes qui n'auraient pas respecté les interdictions contenues dans le présent article.
        
        Liens hypertextes
        1. Les liens à partir du Service ARTAETAS peuvent contenir des liens hypertextes redirigeant vers des sites exploités par des tiers. Ces liens sont fournis à simple titre d'information.
        YOURARTAVENUE n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à l'accès, au contenu ou à l'utilisation de ces sites, ainsi qu'aux dommages pouvant résulter de la consultation des informations présentes sur ces sites.
        La décision d'activer ces liens relève de la pleine et entière responsabilité de l'Utilisateur.
        2. Liens vers le Service ARTAETAS
        Aucun lien hypertexte ne peut être créé vers le Service ARTAETAS sans l'accord préalable et exprès de YOURARTAVENUE.
        Si un internaute ou une personne morale désire créer, à partir de son site, un lien hypertexte vers le Service ARTAETAS et ce quel que soit le support, il doit préalablement prendre contact avec YOURARTAVENUE en lui adressant un email à l'adresse suivante support@artaetas.com
        Tout silence de YOURARTAVENUE devra être interprété comme un refus.
        
        Le contenu des Annonces déposées appartient aux Annonceurs, néanmoins, en déposant des Annonces sur le Site Internet, l’Annonceur concède :
         
        -    à YOURARTAVENUE le droit d’exploitation non exclusif, transférable, sous licenciable, à titre gracieux, pour le monde entier sur (i) l’ensemble du contenu des Annonces et notamment sur les photographies, textes, vidéos, illustrations, marques, logos, titres (ci-après le « Contenu »), au fur et à mesure de leur publication sur le Site ainsi (ii) qu’une licence sur l’ensemble des droits de propriété intellectuelle afférant au Contenu et notamment sur les droits d’auteurs sur les éléments utilisés dans son Annonce, tels que les photographies, textes, vidéos, dessins, illustrations, éléments sonores, et ce pour toute la durée légale de ses droits de propriété intellectuelle et pour le monde entier.
         
        Les droits ainsi concédés incluent le droit de reproduire, représenter, diffuser, adapter, modifier, réaliser une œuvre dérivée, traduire tout ou partie du Contenu par tous procédés, sous quelque forme que ce soit et sur tous supports (numérique, imprimé…) connus ou inconnus à ce jour, dans le cadre exclusif du service ARTAETAS ou en relation avec l’activité de YOURARTAVENUE, et ce à des fins commerciales ou non et notamment publicitaires, ainsi que dans le cadre d’une diffusion sur les réseaux sociaux sur lesquels YOURARTAVENUE est présent et notamment les pages Facebook, Instagram et Twitter de ARTAETAS. En particulier, les photographies des Annonces pourront être reproduites et intégrées dans des formats publicitaires diffusés sur le Site Internet, uniquement en lien avec l’Annonce déposée. Le cadre du service ARTAETAS exclut la commercialisation de reproductions du contenu publié par les membres.  
        
         
        L’Annonceur accorde son consentement à la reprise de son Annonce et du Contenu de cette dernière sur les réseaux sociaux, notamment Facebook, Instagram et Twitter. Par conséquent, l’Annonceur atteste avoir pris connaissance des conditions générales d’utilisation des sites Facebook, Instagram, et Twitter et en accepter les termes, particulièrement en matière de réutilisation du Contenu et des données personnelles.
         
        Au titre de cette licence, YOURARTAVENUE, sans que cela ne crée à sa charge une obligation d’agir, est en droit de s’opposer à la reproduction et l’exploitation par des tiers non autorisés des Annonces diffusées sur le Site Internet et de leur Contenu.
         
        -    aux Utilisateurs, le droit non exclusif d’accéder au Contenu via le Service ARTAETAS et d’utiliser et de représenter le Contenu dans la mesure autorisée par les fonctionnalités du Service ARTAETAS, et ce pour le monde entier. »
         
    </p>
    
    <h2>DISPOSITIONS DIVERSES</h2>
    <p class="aa-legal-p">
        YOURARTAVENUE se réserve le droit, à tout moment, de modifier ou interrompre l'accessibilité de tout ou partie du Service ARTAETAS et/ou du Site Internet ou des Applications.
        YOURARTAVENUE se réserve la possibilité de modifier, à tout moment, en tout ou partie des CGU. Les Utilisateurs et les Annonceurs sont invités à consulter régulièrement les présentes CGU afin de prendre connaissance de changements éventuels effectués. L'Utilisation du Site par les Utilisateurs et les Annonceurs constitue l'acceptation par ces derniers des modifications apportées aux CGU.
        Si une partie des CGU devait s'avérer illégale, invalide ou inapplicable, pour quelque raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer entre les Utilisateurs ou les Annonceurs et YOURARTAVENUE.
        Les présentes CGU sont soumises au droit français.
    </p>
    
    <h2>REGLES GENERALES DE DIFFUSION, DE REFERENCEMENT ET DE DEREFERENCEMENT </h2>
    <p class="aa-legal-p">
        Cette rubrique contient l'ensemble des règles que vous devez respecter pour que votre annonce soit référencée, donc diffusée, sur notre site qui a pour objet la mise en relation de plusieurs parties en vue de la vente d'une oeuvre d’art ou de collection.
        Le non-respect de ces règles est susceptible d'entraîner le refus de votre annonce ou son déréférencement, c'est-à-dire sa suppression de notre site.
        Cette rubrique contient également les critères de classement des annonces sur notre site.
    </p>
    
    <h3>BONNES PRATIQUES</h3>
    <p class="aa-legal-p">
        Voici quelques points à retenir lorsque vous déposez une annonce :
        Le texte de l'annonce doit impérativement décrire l’oeuvre d’art. Le texte d’une même annonce ne doit pas proposer plusieurs oeuvres.
        L’annonce doit être déposée dans une catégorie correspondant à l’objet de l’annonce.	
        Toute annonce à caractère publicitaire est interdite. La promotion de services d’artiste n’est pas autorisée.
        Vous devez indiquer le prix total et TTC de l’oeuvre dans le champ "Prix".
        Toute annonce insérée au profit d'une galerie ou d’un organisme doit obligatoirement comporter un numéro SIREN (9 chiffres).
        Si vous déposez des annonces au profit d'une association, vous devez indiquer un numéro SIREN. Si votre association n'en possède pas, nous vous invitons à en faire la demande auprès de la Direction Régionale de l'INSEE.
    </p>
    
    
    <h3>INTERDICTIONS GENERALES</h3>
    <p class="aa-legal-p">
        Toute annonce contenant des éléments de texte (mots, expressions, phrases… etc.) qui sembleraient contraires aux dispositions légales ou réglementaires, aux bonnes mœurs, aux règles de diffusion de notre site ou susceptible de troubler ou choquer les utilisateurs sera refusée par ARTAETAS, donc non référencée sur notre site, sans que cela ne fasse naître au profit de l'annonceur un quelconque droit à indemnité.
        Contenus non autorisés
        Il est interdit de déposer une annonce :
        Comportant des termes ou des descriptions sans lien avec l’oeuvre proposée.
        Présentant une utilisation abusive de mots clefs.
        Dirigeant directement ou indirectement vers un site autre que le nôtre.
        Comportant un numéro de téléphone surtaxé.
        A caractère politique, sectaire, discriminatoire, sexiste, en lien avec des organisations ou des personnes responsables de crimes contre l'humanité etc.
        L'article 225-1 du code pénal définit notamment la discrimination comme toute distinction opérée entre les personnes physiques à raison notamment de leur origine, de leur sexe, de leur handicap, de leurs caractéristiques génétiques, de leurs mœurs, de leur orientation sexuelle, de leur identité de genre, de leur appartenance ou de leur non-appartenance, vraie ou supposée, à une ethnie, une Nation, une prétendue race ou une religion déterminée [..]. Le délit de discrimination, incriminé à l'article 225-2 4° du code pénal, est puni de trois ans d'emprisonnement et de 45 000 euros d'amende.
        Oeuvres non autorisées
        En tant qu'utilisateur du service ARTAETAS, vous devez vous assurer que l’oeuvre que vous cherchez à vendre ou à acheter est un produit autorisé sur le site et dont la vente est légale.
        Nous vous invitons à prendre connaissance des oeuvres interdites sur notre site :
        Oeuvres à caractère pornographique
        Oeuvres à caractère raciste, xénophobe, promouvant la haine raciale
        Oeuvres à caractère homophobe, sexiste, amenant à la discrimination.
        Cette liste est non exhaustive.
        Interdiction des produits ou services portant atteinte aux droits de propriété intellectuelle
        Seule la diffusion d'annonce proposant la vente d’oeuvres originales est autorisée. En particulier, toute diffusion d’Annonce ayant un caractère apparenté à de la contrefaçon d’autres oeuvres artistiques sera supprimée et pourra faire l’objet d’une plainte. 
        Nous vous rappelons que la vente de copie ou de reproduction de toute sorte est susceptible de constituer un acte de contrefaçon, passible de trois ans d'emprisonnement et 300.000 euros d'amende sur le fondement de l'article L. 335-2 alinéa 2 du Code de la propriété intellectuelle.
        Vous devez être légalement propriétaire du contenu ou être autorisé à le vendre par le propriétaire, par son mandataire agréé ou par la loi. 
        Il est autorisé d’insérer des photos comportant un watermark (tatouage numérique) dans le but d'assurer la protection des droits de propriété intellectuelle.
        Seules les mentions des propriétaires de la photo sous forme de texte sont acceptées. Ces textes doivent obligatoirement être de couleur noire ou blanche.
        L’insertion d’adresse de site internet sur les photos reste strictement interdite.
        Photographies non autorisées
        Les photographies insérées doivent représenter l’oeuvre proposée à la vente.
        Il est interdit d’insérer des photos comportant :
        Logos seuls 
        Lien vers un site internet
        Représentations sans lien avec l’oeuvre proposée
    </p>
    <h3>CRITERES DE CLASSEMENT DES ANNONCES</h3>
    <p class="aa-legal-p">
        Les annonces sont classées par défaut par ordre chronologique : la dernière annonce publiée dans une catégorie apparaîtra en premier dans la page de résultats des annonces au sein de la catégorie concernée et en fonction des critères de tri et filtres sélectionnés par l’Utilisateur.
        La souscription d'options de mise en avant ou mise à la une influence le classement des annonces selon les critères suivants :
        Mise à la une : l’annonce sera diffusée en entête de Site et des Applications. Lors de recherches par les Utilisateurs et dans la limite de leurs critères de recherche, elle sera aussi réitérée toutes les 10 annonces pendant la durée de souscription de l’option. La visibilité de l’annonce sera renforcée spécifiquement pendant cette période.
        Mise en avant : Lors de recherches par les Utilisateurs et dans la limite de leurs critères de recherche, l’annonce sera réitérée toutes les 10 annonces pendant la durée de souscription de l’option. La visibilité de l’annonce sera renforcée spécifiquement pendant cette période. Si des emplacements à la Une sont disponibles, l’annonce sera aussi diffusée en entête de Site et des Applications.
        Il est interdit de dépublier et republier une même annonce à des fins de manipulation du classement des Annonces dans les recherches des Utilisateurs sur le Site ou pour tout autres raisons. ARTAETAS se réserve le droit de ne pas autoriser une annonce qui serait republiée. 
    </p>
</main>

