<main class="aa-cgu">
<h1 class="aa-legal-titre">DÉPOSER UNE OEUVRE</h1>
<p class="aa-legal-p">La photo est l’élément essentiel de la mise en valeur de l’oeuvre.
Les photos doivent être particulièrement soignées. Pas de photos floues, avec reflets, trop sombres ou trop claires. La première photo doit présenter uniquement l’oeuvre, dans son intégralité et sans décor. Les photos suivantes peuvent présenter l’oeuvre dans un environnement ou des détails au choix. 
</p>
<p class="aa-legal-p">
Le descriptif doit être clair et avec une orthographe soignée. Il peut reprendre les caractéristiques de l’oeuvre, son histoire.
Les éléments signalés d’un * sont obligatoires pour le dépôt d’une annonce.
Il est fortement recommandé de remplir tous les éléments du dépôt d’annonce pour une meilleure visibilité de votre oeuvre.
</p>
<p class="aa-legal-p">
Après la validation du dépôt d’annonce, l’oeuvre part en processus de modération. Le délai de modération peut varier de quelques heures à 48 heures maximum.
Après modération, si l’annonce est confirmée, elle sera immédiatement en ligne et vous serez informé au même moment de la publication.
</p>
<p class="aa-legal-p">
80% des refus à la modération concerne des descriptifs ou photos pas assez qualitatifs. Prenez bien soin de la qualité de celles ci. Préparez vos photos à l’avance afin de gagner du temps à la publication : cadrage de la photo, luminosité, netteté. 
Les annonces doivent avoir une valeur ajoutée artistique indiscutable. Toute annonce litigieuse sera soumise à l’approbation d’un comité artistique qui décidera dans un délai de 5 jours de la mise en ligne de l’annonce.
</p>
<h1 class="aa-legal-titre">GÉRER MES ANNONCES</h1>
<p class="aa-legal-p">Les annonces peuvent être gérées dans l’onglet “Mes annonces” du profil membre.
Chaque annonce est caractérisée par 4 pictogrammes:
</p>
<p class="aa-legal-p">
Le premier pictogramme représente le statut de l’annonce. Elle peut être en statut "confirmé" quand l’annonce est en ligne, "en attente de modération" si elle n’est pas encore modérée ou en statut "refusé" si elle ne correspond pas aux conditions générales d’utilisation.
</p>
<p class="aa-legal-p">
Le deuxième pictogramme permet de modifier son annonce si besoin. Attention, toute modification d’une annonce la remet automatiquement en modération.
</p>
<p class="aa-legal-p">
Le troisième pictogramme permet de souscrire des options d’accélération de visibilité. Par défaut, les annonces sont en statut standard. Au delà de ce statut par défaut, deux options sont possibles pour accélérer la visibilité d’une annonce. La mise à la une permet d’accélérer la visibilité de son annonce sur la page d’accueil et les pages de recherche. L’annonce mise à la une apparaît dans les premières annonces et sera aussi visible plus fréquemment. La mise en avant permet d'accélérer la visibilité de son annonce sur les pages de recherche. L’annonce mise en avant apparaît dans les premières annonces et sera aussi visible plus fréquemment. La mise en avant n’assure pas une visibilité accrue sur la page d’accueil. 
</p>
<p class="aa-legal-p">
Le quatrième pictogramme permet de supprimer son annonce. Si l’annonce a été vendue par l’intermédiaire d’ARTAETAS, il sera demandé au vendeur d’identifier l’acheteur. Pour chaque annonce vendue, il sera proposé au vendeur de participer au budget communication du site ARTAETAS et à l’acheteur de contribuer au budget développement informatique du site. 
</p>
<h1 class="aa-legal-titre">RECHERCHER UNE ANNONCE</h1>
<p class="aa-legal-p">Il est possible de rechercher rapidement un mot-clé directement en cliquant sur le bouton “rechercher” du menu. Cette recherche rapide donne immédiatement les résultats liés à ce mot-clé dans le menu de recherche avancée. 
</p>
<p class="aa-legal-p">
Il est aussi possible de réaliser une recherche avancée en cliquant sur le bouton “rechercher une oeuvre” en bas de page. Ce bouton ouvre la page de recherche avancée. Celle-ci permet de filtrer et trier les annonces du site ARTAETAS sur la base de plusieurs critères cumulables. Il est possible à chaque recherche d’enlever ou de cumuler un ou plusieurs critères. 
</p>
<p class="aa-legal-p">
Des annonces mises en avant et mises à la une sont ajoutées aux résultats de la recherche. Elles se distinguent par leur encadré blanc.
</p>
<h1 class="aa-legal-titre">JE SUIS INTÉRESSÉ PAR UNE OEUVRE. COMMENT PROCÉDER ?</h1>
<p class="aa-legal-p">Une oeuvre me plait. Je dois entrer en contact avec le vendeur. Par défaut, j’ai la possibilité de contacter tous les vendeurs par e-mail. En fonction des options de contactabilité retenues par le vendeur, je peux aussi avoir la possibilité de le contacter par téléphone. Les e-mails des membres sont gardés confidentiels. Le premier contact par e-mail s’effectue par l’intermédiaire d’ARTAETAS. L’adresse e-mail du vendeur reste confidentielle tant qu’il n’a pas répondu à l’acheteur. </p>
<h1 class="aa-legal-titre">GÉRER MON PROFIL</h1>
<p class="aa-legal-p">Le compte membre est composé de 5 onglets.
Mes informations : 
Nous y retrouvons les informations personnelles du membre et les choix de paramétrage. Il est fortement recommandé de compléter son profil afin de faciliter les contacts entre membres. En particulier, il est recommandé de renseigner son statut, sa ville de résidence. Chaque membre est invité à prendre soin de sa page publique membre et y ajoutant une photo de profil et une photo bannière ainsi que ses adresses instagram, facebook voire  site internet. Cela renforcera votre visibilité et incitera les autres membre à vous liker ou à vous suivre. 
</p>
<p class="aa-legal-p">
Mes favoris : 
Il est possible de suivre ses favoris, oeuvres ou membres dans cet onglet.
Toute annonce supprimée disparaîtra automatiquement des favoris. 
Tout membre supprimé disparaîtra automatiquement des favoris.
</p>
<p class="aa-legal-p">
Mon profil public : 
C’est la présentation publique de votre profil. Utilisez cet onglet pour vérifier que les informations publiques correspondent à vos souhaits.
</p>
<p class="aa-legal-p">
Mes transactions : 
Vous y retrouvez l’ensemble de vos achats sur ARTAETAS. 
</p>
<p class="aa-legal-p">
Mes annonces : 
Toutes vos annonces sont regroupées dans cet onglet, quelque soit leur statut. 
</p>
<p class="aa-legal-p">
Il est possible d’obtenir une certification du profil membre en faisant une demande de certification auprès de contact@artaetas.com. La certification permet de rassurer les acheteurs quand à l’identité du membre certifié. La certification est facturée 100€ et est valable 2 ans. Pour obtenir la certification, il est nécessaire d’envoyer par email une demande de certification en y joignant les scans de votre pièce d’identité en cours de validité, d’un justificatif de domicile de moins de 6 mois et d’un rib. Chaque document doit nécessairement avoir la même adresse. A réception de la demande, après validation de la demande et des documents, un appel à paiement de la prestation sera envoyé. A réception du versement de la prestation, la certification sera apposée dans un délai de 48h. 
</p>
</main>