<div class="aa-under-navbar"></div>
<h1>Annonce</h1>
<% @imghash.each do |line| %>
    <p style="margin-left: 15px"><%= line %></p>
<% end %>
<br>
<h1>User</h1>
<% @userhash.each do |line| %>
    <p style="margin-left: 15px"><%= line %></p>
<% end %>