<main class="aa-cgu">
<h3 class="aa-legal-titre">Mentions Legales</h1>



<p class="aa-legal-p">
Le site est édité par YOURARTAVENUE, SAS au capital de 10.000 euros, immatriculée au
registre du commerce et des sociétés de Lille Métropole sous le numéro 849 992 334.<br>
Siège social : 24 allée des allumoirs, 59493 Villeneuve d’Ascq.<br>
Le directeur de publication est Monsieur Nicolas Auboiroux.<br>
Numéro de TVA intracommunautaire : FR849992334<br>
Contact :<br>
Courrier électronique : contact@artaetas.com<br>
Conception et développement : MOONE Créations    
</p>

</main>
