<div class="aa-me-undernavbar" style="height: 100px;"></div>
<div class="aa-new-bg">
    <div class="aa-new-container">
        <div class="container-partenaire">
            <div class="container-logo-partenaire">
                <%= image_tag "lacondamine.png", class: "logo-partenaire" %>
            </div>
            <div class="detail-partenaire">
                <div class="nom-partenaire">
                  <b style="font-size: 1.1rem;">La Condamine</b>
                </div>
                <div class="description-partenaire">
                    <p>La Condamine est une communauté solidaire d'artistes entrepreneurs. Elle propose aux artistes, artisans et travailleurs indépendants un écosystème complet alliant formation, accompagnement, conférences, diffusion et mises en relation afin qu'ils atteignent la viabilité économique. </p>
                </div>
                <div class="lien-partenaire">
                   <a style="font-size: 14px;" href="https://lacondamine.org/">https://lacondamine.org/</a>
                </div>
            </div>
        </div>
    </div>
</div>