<main class="aa-cgu">
<h1>PROTECTION DES DONNEES - CONFIDENTIALITE</h1>

<p>Afin que vous puissiez utiliser le Service Artaetas en toute confiance, la présente Politique de confidentialité vise à décrire de manière transparente quelles données sont traitées par YOURARTAVENUE, comment et pourquoi.</p>


<h2>TYPES DE DONNEES COLLECTEES</h2>

<p>Nous sommes susceptibles de collecter les données suivantes vous concernant :</p>

<h3>Les données que vous renseignez</h3>
<p>Le caractère obligatoire ou facultatif des données que vous renseignez vous est signalé lors de leur collecte par une astérisque.
Dépôt d’annonce
Pour déposer une annonce, vous devez nous communiquer votre pseudonyme, votre adresse email, votre numéro de téléphone, et votre ville ou code postal.
Si vous souscrivez à une option payante pour mettre en avant votre annonce, nous vous demandons également des informations de paiement (numéro de carte bancaire).
Nous utilisons, sur la base de notre intérêt légitime, une technologie d’analyse automatique du contenu des annonces, afin de détecter des contenus non sollicités, y compris frauduleux.
Création de compte
Lorsque vous créez votre Compte Membre, vous devez nous communiquer votre pseudonyme et votre adresse email.
Vous pouvez également choisir de nous communiquer les informations suivantes :
Civilité, Nom, Prénom
Numéro de Téléphone
Statut entre artiste, amateur, collectionneur, galerie ou association
Contact support ou signalement d’annonces
Lorsque vous contactez notre support client ou signalez une annonce, vous devez nous communiquer votre nom, prénom, et votre adresse email.
Soutenir une annonce ou un profil membre
Lorsque vous soutenez (likez) une anonce ou un profil membre, nous utilisons votre pseudo pour lier votre profil membre à celui que vous soutenez ou à l’annonce que vous soutenez.</p>

<h3>Les données que nous collectons automatiquement par votre utilisation de nos services</h3>
<p>Nous enregistrons des données d’utilisation lorsque vous accédez à nos services (ou les utilisez d’une quelconque manière), ce qui inclut notre Site et nos Applications, notamment quand vous effectuez une recherche ou quand vous répondez ou déposez des Annonces.

Nous effectuons notamment des mesures d’audience, avec lesquelles nous mesurons par exemple le nombre de pages vues, le nombre de visites du Site, ainsi que l’activité des visiteurs sur le Site et leur fréquence de retour. Nous utilisons des identifiants de connexion (notamment des identifiants concernant vos appareils mobiles) et des cookies ainsi que votre adresse IP pour vous identifier et pour enregistrer votre activité.
Nous sommes également susceptibles de collecter des données techniques sur votre connexion internet, votre navigateur et vos appareils.</p>

<h3>Données partenaires</h3>
<p>Nous sommes susceptibles de recevoir des données personnelles vous concernant de la part de nos clients et partenaires (exemple : agrégateurs de données).</p>


<h2>Utilisation de vos données</h2>

<p>Nous utilisons vos données pour les finalités suivantes :</p>

<h3>Utilisation de vos données sur la base de l’exécution du contrat</h3>
<p>Sur la base de l’exécution du contrat qui nous lie, nous utilisons vos données pour vous fournir nos services, et notamment :
assurer la publication de votre Annonce ;
assurer la création et la gestion de votre Compte ;
vendre les options payantes que vous souscrivez ;
vous envoyer des emails concernant votre utilisation de nos services ;
répondre à vos questions au support client ;</p>
<h3>Utilisation de vos données sur la base notre intérêt légitime</h3>
<p>Sur la base de notre intérêt légitime, nous utilisons vos données pour :
faire des statistiques et analyses marketing, afin de comprendre comment vous utilisez nos services ;
vous proposer du contenu personnalisé et améliorer votre expérience utilisateur ;
vous envoyer des annonces parues sur notre site susceptibles de vous intéresser, au regard des annonces que vous consultez ou celles auxquelles vous répondez,
vous envoyer en tant qu’Utilisateur des propositions commerciales et/ou promotionnelles, émanant uniquement de YOURARTAVENUE et concernant exclusivement le service ARTAETAS ;
lutter contre la fraude, vos données de compte et de paiement pouvant notamment être traitées de manière automatisée, lors de vos transactions et, en cas d’anomalies détectées, donner lieu à une suspension automatique de votre transaction. Nous utilisons également une technologie d’analyse automatique du contenu des annonces, afin de détecter des contenus non sollicités, y compris frauduleux. Pour plus d’informations, contactez notre service client ;</p>
<h3>Utilisation de vos données pour respecter nos obligations légales</h3>
<p>Enfin, nous sommes susceptibles de traiter vos données à des fins de preuve et dans le cadre du respect de nos obligations légales.</p>

<h2>Destinataires des données</h2>
<p>Les données que nous collectons sont accessibles à nos prestataires de services, agissant en qualité de sous-traitants, qui concourent administrativement et techniquement à la réalisation des finalités visées ci-dessus (prestataire d’hébergement, prestataire de paiement, technologie publicitaire…)
Dans ce cadre, les données que nous collectons peuvent être transférées hors de l’Union Européenne. Dans ce cas nous nous assurons que ce transfert s’effectue à destination des pays reconnus comme assurant un niveau adéquat de protection de vos données personnelles ou, à tout le moins, sur la base des garanties appropriées prévues par la loi.
Afin de respecter nos obligations légales, vos données personnelles peuvent également être transmises aux autorités administratives et judiciaires autorisées, uniquement sur réquisition judiciaire.</p>

<h2>Responsable de traitement</h2>
<p>YOURARTAVENUE, immatriculée au RCS de Lille Métropole sous le numéro SIREN 849 992 334, ayant son siège social au 24 allée des allumoirs, 59493 Villeneuve d’ascq, représentée par monsieur Nicolas AUBOIROUX, en sa qualité de Président, est responsable du traitement des données qu’elle collecte dans le cadre de votre utilisation du Service Artaetas.</p>

<h2>Durée de conservation</h2>
<p>La durée de conservation de vos données personnelles varie en fonction de la finalité de leurs collectes :
Les données de Compte (identité, coordonnées électroniques, historique d’utilisation des services) sont conservées 3 ans à compter de la fin de la relation commerciale ;
Les données relatives à la gestion de votre Compte et à vos Annonces sont conservées pour une durée de 5 ans à compter de leur suppression et ce, exclusivement à des fins de preuve ;
Les documents et pièces comptables sont conservés 10 ans, à titre de preuve comptable ;
Les données relatives à votre carte bancaire sont conservées par notre prestataire de paiement jusqu’au paiement complet et, à des fins de preuve en cas de réclamation, pendant 13 mois, ou 15 mois s’il s’agit d’une carte de paiement à débit différé. Le cryptogramme de votre carte n’est conservé que pour le temps nécessaire à la réalisation de chaque transaction ;
Les données susceptibles de faire l’objet d’une réquisition judiciaire (données de connexion, identité, coordonnées de contact, données relatives aux transactions) sont conservées 12 mois à compter de leur collecte ;</p>

<h2>Vos droits</h2>
<h3>Quels sont vos droits ?</h3>
<p>Droit d'accès : il s’agit de votre droit d’obtenir la confirmation que vos données sont traitées ou non, et si oui, d’accéder à ces données.
Droit de rectification : il s’agit de votre droit d’obtenir, dans les meilleurs délais, que vos données inexactes soient rectifiées, et que vos données incomplètes soient complétées. Vous pouvez en outre, à tout moment, modifier les données personnelles de votre Compte Personnel, sauf votre adresse mail. Il vous suffit de vous rendre dans votre Compte Personnel et de cliquer sur l’onglet « Mon profil ».
Droit de suppression/Effacement : il s’agit de votre droit d’obtenir, dans les meilleurs délais, l’effacement de vos données, sous réserve de nos obligations légales de conservation.
Droit de limitation : il s’agit de votre droit d’obtenir la limitation du traitement lorsque vous vous y opposez, lorsque vous contestez l’exactitude de vos données, lorsque vous pensez que leur traitement est illicite, ou lorsque vous en avez besoin pour la constatation, l’exercice ou la défense de vos droits en justice.
Droit d'opposition : il s’agit de votre droit de vous opposer à tout moment au traitement de vos données par YOURARTAVENUE, sauf en cas de motifs légitimes et impérieux de YOURARTAVENUE. Vous pouvez également vous opposer au traitement fait à des fins de prospection.
Droit à la portabilité : il s’agit de votre droit de recevoir vos données dans un format structuré, couramment utilisé, lisible par machine et interopérable, et de les transmettre à un autre responsable du traitement sans que nous y fassions obstacle.
Droit de ne pas faire l'objet d'une décision fondée sur un traitement automatisé : vous avez le droit de ne pas faire l’objet d’une décision fondée exclusivement sur un traitement automatisé produisant des effets juridiques vous concernant ou vous affectant, sauf lorsque cette décision est nécessaire à la conclusion ou à l’exécution d’un contrat, ou est autorisée légalement.
Réclamations : vous avez le droit d’introduire une réclamation auprès d’une autorité de contrôle.
Directives en cas de décès : vous avez le droit de donner des directives pour le sort de vos données personnelles en cas de décès.</p>

<h3>Comment exercer vos droits ?</h3>
<p>Si vous êtes un particulier, vous pouvez exercer vos droits d’accès, de rectification, de suppression et de portabilité via votre Compte dans l’onglet “Mon profil”.
Pour l’exercice de vos autres droits, et notamment pour vous opposer à nos recommandations de contenus personnalisés, vous devez vous adresser un email à l’adresse suivante dpo@artaetas.com.</p>


<h3>Sécurité de vos données</h3>
<p>Nous protégeons vos informations à l’aide de mesures de sécurité physiques, électroniques et administratives. Nos mesures de protection incluent notamment des pare-feu, des contrôles d’accès physiques à nos centres de données et des contrôles d’autorisation d’accès aux informations.</p>

<h2>Délégué à la protection des données</h2>
<p>Notre délégué à la protection des données est joignable par email à l’adresse suivant : dpo@artaetas.com

Nous vous invitons également à nous contacter pour toute question ou requête relative à la présente politique en écrivant à l’adresse email suivante : contact@artaetas.com</p>
</main>
