<main class="aa-cgu">
<h1 class="aa-legal-titre">QUI SOMMES NOUS ? </h1>
<p class="aa-legal-p">C’est là que tout le monde s’attend à découvrir une équipe de professionnels, chevronnés du marché de l’art… 
Ce n’est pas tout à fait le cas  :)
</p>    
<p class="aa-legal-p">Je m’appelle Nicolas, je suis certes collectionneur et passionné de street art mais rien dans mon histoire ou mon environnement ne me destinait à lancer ARTAETAS. 
J’ai des responsabilités financières pour une marque textile internationale, nous sommes une famille avec 4 enfants tous talentueux (à nos yeux), un chat anormalement sociable et des poules élevées en liberté dans notre jardin et parfois aussi dans celui des voisins. Bref, un peu Monsieur tout le monde.
</p>
<p class="aa-legal-p">Mais voilà, passionné par nature, depuis plusieurs années je parcours les expositions, les vernissages et j’ai souvent la chance de découvrir des ateliers d’artistes et de créer des liens privilégiés avec eux.
J’aime partager ma passion pour le street art au point d’avoir créé une artothèque dans laquelle de nombreux talents de la région des Hauts de France s’exposent et rayonnent.
</p>
<p class="aa-legal-p">Au gré des rencontres, j’ai constaté que le marché est éclaté, cloisonné, parfois difficile d'accès. J’ai donc acquis la conviction qu’il manquait une pièce au puzzle, un acteur qui rapprocherait les artistes et les amateurs au sein d’une plateforme simple et ouverte. Une plateforme qui permettrait à chacun de découvrir le plaisir de l’art et ses expériences émotionnelles. Une plateforme qui faciliterait la vie des amateurs et collectionneurs dans l’évolution de leurs collections. </p>
<p class="aa-legal-p"> Et c’est ainsi qu’ARTAETAS a germé.</p>
<p class="aa-legal-p">Ce projet ne serait pas devenu une réalité sans l’association à l’équipe de Vincent et Romain de MOONE Créations. Grâce à leur engagement, leur rigueur mais aussi à leur maîtrise dans la construction de sites internet, nous mettons à la disposition de nos membres une plateforme à la fois professionnelle et simple d’utilisation.  
ARTAETAS est sorti encore plus fort des tests menés par Valérie, David, Tiphaine, Julien et Nicolas. Leur exigence et clairvoyance ont été fondamentales pour la version définitive du site et la satisfaction finale de nos membres.
</p>
<p class="aa-legal-p">Et c’est après 10 mois intenses, que nous sommes fiers de mettre ARTAETAS à votre service.  
Cette plateforme est construite pour vous. Elle est libre d’accès et vous offre un large choix d’oeuvres d’art au sein d’une communauté de passionnés. Inscrivez-vous, découvrez la richesse du choix ARTAETAS et faites-vous plaisir. 
</p>
<p class="aa-legal-p">A très bientôt</p>
<p class="aa-legal-p">Nicolas</p>
<p class="aa-legal-p"><%= image_tag asset_path("nico.png"), style: "height: 200px" %></p>
<p class="aa-legal-p">PS : ce lancement nous a mis en dynamique. Au gré de la construction des fonctionnalités, nous avons identifié de nombreuses évolutions potentielles. De nouvelles fonctions seront développées avec la croissance d’ARTAETAS. L’aventure continue :)</p>
</main>