<link rel="canonical" href="/web/tweet-button">
<p>Nos hamsters travaillent d'arrache pieds, a vous confectionner, un site aux petits oignons!</p>
<p>Repassez souvent !</p>


<!-- <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-size="large"
  data-text="Nos Hamsters"
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  data-via="twitterdev"
  data-related="twitterapi,twitter">
Tweet
</a>
 -->

<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 76px; height: 28px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2e9f365dae390394eb8d923cba8c5b11.en.html#dnt=false&amp;hashtags=Hamsters%2COignons%2CMignons&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fhttp://artaetasv0.herokuapp.com&amp;related=twitterapi%2Ctwitter&amp;size=l&amp;text=Nos%20Hamsters%20sont%20Malins&amp;time=1556898923306&amp;type=share&amp;url=https%3A%2F%2Fhttp://artaetasv0.herokuapp.com&amp;via=artaetas" data-url="https://dev.twitter.com/web/tweet-button"></iframe>


