<p>Bonjour <%= @user.username %></p>
<br>
<p>Votre annonce sur ARTAETAS est en ligne !</p>
<p>Elle est dès à présent visible par toute la communauté des amateurs d’art et mécènes présents sur ARTAETAS.</p>
<p>Vous pouvez aussi partager votre annonce sur vos réseaux sociaux en copiant le lien ci dessous ou en cliquant sur les icônes dédiées</p>
<a href="http://artaetasv1.herokuapp.com/annonces/<%= "#{@annonce.id}" %>">Votre Annonce</a>
<br>
<p>Nous vous invitons à booster sa visibilité avec une option de mise en avant en cliquant sur le lien suivant :</p>
<a href="http://artaetasv1.herokuapp.com/annonces/<%= "#{@annonce.id}/miseenavant" %>">Mise en avant</a>
<br>
<p>Bien cordialement</p>
<p>L’équipe ARTAETAS</p>
<br>
<p>Cet email est un email automatique, veuillez ne pas y répondre. </p>
<p>Nous vous invitons à écrire à contact@artaetas.com pour tout renseignement.</p>
