<p>Bonjour <%= @user.username %></p>
<br>
<p>Votre annonce sur ARTAETAS n’est pas conforme à nos conditions générales d’utilisation.</p>
<a href="http://artaetasv1.herokuapp.com/annonces/<%= "#{@annonce.id}" %>">Votre Annonce</a>
<p>Nous vous invitons à modifier votre annonce si cela est possible et à consulter nos CGU en cliquant sur le lien suivant : </p>
<a href="http://artaetasv1.herokuapp.com/cgu">CGU</a>
<br>
<p>Si l’annonce est modifiable, notre équipe modération vous écrira dans les prochaines 48h avec le motif de blocage et les solutions envisageables. </p>
<br>
<p>Bien cordialement</p>
<p>L’équipe ARTAETAS</p>
<br>
<p>Cet email est un email automatique, veuillez ne pas y répondre. </p>
<p>Nous vous invitons à écrire à contact@artaetas.com pour tout renseignement.</p>