<p>Bonjour <%= @user.username %></p>
<br>
<p>Suite à modification, votre annonce est en attente de modération.</p>
<a href="http://artaetasv1.herokuapp.com/annonces/<%= "#{@annonce.id}" %>">Votre Annonce</a><br>
<p>Dans un délai de 24h, après modération, votre annonce sera à nouveau en ligne.</p>
<br>
<p>Bien cordialement</p>
<p>L’équipe ARTAETAS</p>
<br>
<p>Cet email est un email automatique, veuillez ne pas y répondre. </p>
<p>Nous vous invitons à écrire à contact@artaetas.com pour tout renseignement.</p>
