<div class="aa-me-undernavbar" style="height: 100px;"></div>
<div style="margin-left: 20%; margin-right: 20%;">
    <!--<%#= simple_form_for(@annonce, :url => update_archive_annonce_path, :method => :patch ) do |f| %>-->
    <!--    <%#= f.input :archive, label: "Archiver cette annonce?", input_html: { class: 'aa-archive-mainquestion' } do %>-->
    <!--        <div class="aa-archive-don">-->
    <!--        <fieldset class="form-group boolean optional annonce_faire_un_don">-->
    <!--            <div class="form-check">-->
    <!--                <%#= f.check_box :faire_un_don, label: false %>-->
    <!--                <label class="form-check-label boolean optional" for="annonce_archive">Faire un don?</label>-->
    <!--            </div>-->
    <!--        </fieldset>-->
    <!--    </div>-->
    <!--    <%# end %>-->
        
    <!--    <%#= f.submit 'Confirmer', class: 'btn btn-primary aa-mobile-btn aa-new-publierannonce' %>-->
    <!--<%# end %>-->
    
    <form class="simple_form edit_annonce" id="edit_annonce_<%= @annonce.id %>" style="text-align: center;" novalidate="novalidate" action="/annonces/<%= @annonce.id %>/update_archive" accept-charset="UTF-8" method="post" >
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="aa-archive-flex">
            <input name="annonce[archive]" type="hidden" value="0">
            <input class="form-check-input boolean optional aa-archive-mainquestionone" type="radio" value="1" name="annonce[archive]" id="annonce_archive" required>
            <label class="form-check-label boolean optional" for="annonce_archive" >Je souhaite archiver mon annonce, elle sera visible sur mon profil membre</label>
            <div class="aa-archive-flexitem">
                <div class="aa-archive-donone" >
                    <input name="annonce[vendu]" type="hidden" value="0">
                    <input label="false" type="radio" value="1" name="annonce[vendu]" id="annonce_vendu_artaetas1" >
                    <label class="form-check-label boolean optional" for="annonce_vendu_artaetas1" >J'ai vendu grâce à ARTAETAS</label>
                </div>
                <div class="aa-archive-donone" >
                    <!--<input name="annonce[vendu]" type="hidden" value="0">-->
                    <input label="false" type="radio" value="2" name="annonce[vendu]" id="annonce_vendu_autre1" >
                    <label class="form-check-label boolean optional" for="annonce_vendu_autre1" >J'ai vendu mon oeuvre par d'autres moyens</label>
                </div>
                <div class="aa-archive-donone" >
                    <!--<input name="annonce[vendu]" type="hidden" value="0">-->
                    <input label="false" type="radio" value="3" name="annonce[vendu]" id="annonce_retirer1" >
                    <label class="form-check-label boolean optional" for="annonce_retirer1" >Je souhaite juste retirer mon oeuvre</label>
                </div>
            </div>
        </div>
        <div class="aa-archive-flex">
            <!--<input name="annonce[archive]" type="hidden" value="0">-->
            <input class="form-check-input boolean optional aa-archive-mainquestiontwo" type="radio" value="2" name="annonce[archive]" id="annonce_archive2" required>
            <label class="form-check-label boolean optional" for="annonce_archive2" >Je souhaite supprimer mon annonce définitivement</label>
            <div class="aa-archive-flexitem">
                <div class="aa-archive-dontwo" >
                    <!--<input name="annonce[vendu]" type="hidden" value="0">-->
                    <input label="false" type="radio" value="1" name="annonce[vendu]" id="annonce_vendu_artaetas2" >
                    <label class="form-check-label boolean optional" for="annonce_vendu_artaetas2" >J'ai vendu grâce à ARTAETAS</label>
                </div>
                <div class="aa-archive-dontwo" >
                    <!--<input name="annonce[vendu]" type="hidden" value="0">-->
                    <input label="false" type="radio" value="2" name="annonce[vendu]" id="annonce_vendu_autre2" >
                    <label class="form-check-label boolean optional" for="annonce_vendu_autre2" >J'ai vendu mon oeuvre par d'autres moyens</label>
                </div>
                <div class="aa-archive-dontwo" >
                    <!--<input name="annonce[vendu]" type="hidden" value="0">-->
                    <input label="false" type="radio" value="3" name="annonce[vendu]" id="annonce_retirer2" >
                    <label class="form-check-label boolean optional" for="annonce_retirer2" >Je souhaite juste retirer mon oeuvre</label>
                </div>
            </div>
        </div>
        <input type="submit" name="commit" value="Confirmer" class="btn btn-primary aa-mobile-btn aa-new-publierannonce aa-archive-confirm" data-disable-with="Confirmer">
        
        
        <!--<input name="utf8" type="hidden" value="✓">-->
        <!--<input type="hidden" name="_method" value="patch">-->
        <!--<input type="hidden" name="authenticity_token" value="W5zKIgsHqZt+a7/0XQJRZnsw9mKoOAwkR+/L5Bk1SHJwez8BaCepCnPcbvGlXtnRbkM0tZNiJoMbHxMOi53QFA==">-->
        <!--<fieldset class="form-group boolean optional annonce_archive">-->
        <!--    <div class="form-check"><input name="annonce[archive]" type="hidden" value="0">-->
        <!--        <input class="form-check-input boolean optional aa-archive-mainquestion" type="checkbox" value="1" name="annonce[archive]" id="annonce_archive">-->
        <!--        <label class="form-check-label boolean optional" for="annonce_archive">Archiver cette annonce?</label>-->
        <!--    </div>-->
        <!--</fieldset>-->
        <!--<div class="aa-archive-don">-->
        <!--    <fieldset class="form-group boolean optional annonce_faire_un_don">-->
        <!--        <div class="form-check">-->
        <!--            <input name="annonce[faire_un_don]" type="hidden" value="0"><input label="false" type="checkbox" value="1" name="annonce[faire_un_don]" id="annonce_faire_un_don">-->
        <!--            <label class="form-check-label boolean optional" for="annonce_archive">Faire un don?</label>-->
        <!--        </div>-->
        <!--    </fieldset>-->
        <!--</div>-->
        <!--<input type="submit" name="commit" value="Confirmer" class="btn btn-primary aa-mobile-btn aa-new-publierannonce" data-disable-with="Confirmer">-->
        
        
    </form>
</div>