<div class="grid">
  <div class="grid-sizer"></div>
  <% i = 1 %>
    <% 50.times do %>
        <div class="grid-item">
            <%= image_tag("artsy/#{i}.jpg") %>
            <p>Lorem Ipsum <%= i %></p>
        </div>
        <% i += 1 %>
    <% end %>
</div>