<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <% i = 1 %>
  <%#= asset_path("artsy/1.jpg") %>
    <% 56.times do %>
        <div class="grid-item">
            <%= image_tag("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data: { original: asset_path("artsy/#{i}.jpg") }) %>
            <p>Lorem Ipsum <%= i %></p>
        </div>
        <% i += 1 %>
    <% end %>
</div>