.avatar {
 width: 30px;
}

.dropdown-menu {
padding: 0px;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-bottom: 50px;
  z-index: 6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: #F3F5F6;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-lewagon .navbar-brand svg {
  // width: 40px;
  width: 70%;
  height: 100%;
  max-width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .navbar-lewagon .navbar-item img {
//   // width: 40px;
//   width: 43%;
// }

.navbar-toggler {
  flex: 0 0 10%;
  height: 33px;
  margin-left: 10px;
}

.navbar-toggler-icon {
  height: 100%;
}


.navbar-tiers svg {
  width: 51%;
  max-width: 35px;
}
.navbar-lewagon .navbar-item svg {
  // width: 40px;
  // width: 43%;
  height: 100%;
  display: block;
}

.navbar-loupe svg {
  width: 40%;
  max-width: 25px;
  margin-right: 0px;
  margin-left: auto;

}

.navbar-tiers svg {

  margin-left: auto;
  margin-right: auto;

}


.navbar-lewagon .navbar-item svg path {
 fill: #7d7d7d;
}

.navbar-lewagon .navbar-item {
  flex: 0 0 14%;
  height: 50px;
}

.navbar-toggler-flex10 {
  flex: 0 0 10%;
}


// .centered-img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;

// }

.navbar-brand
{
  flex: 1 1 40%;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
}

.navbar-lewagon .navbar-buffer {
  flex: 0 0 13%;
  height: 50px;
}

.navbar-toggler {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #E7E8E3 ;
  border: 0px;
}

.navbar {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  background-color: #F3F5F6;


}



.navbar-item img {
  fill: green !important;
}



.nav-item a {
    border-bottom: solid rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
}

.nav-item img {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 40px;

}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.nav-flex-14 {
  flex: 0 0 14%;
  height: 50px;
}

.nav-flex-14 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 5px 0;
}


@media (min-width: 576px) {

  .navbar-lewagon .navbar-brand svg {
  // width: 40px;
  width: 200px;
  max-width: 200px;
  margin-left: 0px;
  }

  .navbar-lewagon .navbar-buffer {
    display:none;
  }

  .nav-item a {
    border: none;
  }

  .nav-item img {
    padding-top:5px;
    padding-bottom: 5px;

}

div .dropdown {
  position: absolute;
  right: 5px;
}

.navbar-collapse {
 margin-right: 4%;
}

}




// .nav-item {
//    padding-top: 10px !important;
//    padding-bottom: 10px !important  ;
// }


