.avatar {
 width: 30px;
}

.dropdown-menu {
padding: 0px;
}

 .aa-navbar-hres {
    display: none;
    width: 200px;
    max-width: 200px;
    margin-left: 0px;
    margin-right: 0px;
  }
.aa-menu-link {
  font-size: 11px;
  font-weight: 400;
  color: #7F7F7F !important;
  height: 50px !important;
  white-space: nowrap;
  padding: 16px 10px 18px 10px !important;
  margin-top: 2px;
  // -webkit-box-shadow: 0.5px 0px 0.1px 0px rgba(0,0,0,0.75) !important;
  // -moz-box-shadow: 0.5px 0px 0.1px 0px rgba(0,0,0,0.75) !important;
  // box-shadow: 0.5px 0px 0.1px 0px rgba(0,0,0,0.75) !important;
  // border-width: 0px 0px 0px 0.5px !important;
  // border-style: groove !important;
  // margin-top: 1px !important;
  border-style: none !important;

}

.aa-nav-item {
  display: flex;
  flex-direction: row;
  border-width: 0px 2px 0px 0px !important;
  border-style: solid !important;
  border-color: rgba(0,0,0,0.1) !important;

}

.aa-nav-item svg {
  width: 20px;
  height: 20px;
  margin: 16px 0px 16px 5px;
}

.aa-nav-item svg path {
  fill: #7E7E7E;
}
.aa-menu-link-last {
  // border-width: 0px 0.5px 0px 0.5px !important;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  width: device-width;
  margin-bottom: 50px;
  z-index: 6;
}

.aa-menu-navcontainer {
  height: 50px !important;
  background-color: #F3F5F6 !important;
  border-style: none !important;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: #F3F5F6;
  padding-left: 30px;
  padding-right: 30px;
}

.aa-navbar-artaetas {
  // width: 40px;
  width: 70%;
  height: 100%;
  max-width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .navbar-lewagon .navbar-item img {
//   // width: 40px;
//   width: 43%;
// }

.navbar-toggler {
  flex: 0 0 10%;
  height: 33px;
  margin-left: 10px;
}

.navbar-toggler-icon {
  height: 100%;
}


.navbar-tiers svg {
  width: 51%;
  max-width: 35px;
}
.navbar-lewagon .navbar-item svg {
  // width: 40px;
  // width: 43%;
  height: 100%;
  display: block;
}

.navbar-loupe svg {
  width: 40%;
  max-width: 25px;
  margin-right: 0px;
  margin-left: auto;

}

.navbar-tiers svg {

  margin-left: auto;
  margin-right: auto;

}


.navbar-lewagon .navbar-item svg path {
 fill: #7d7d7d;
}

.navbar-lewagon .navbar-item {
  flex: 0 0 14%;
  height: 50px;
}

.navbar-toggler-flex10 {
  flex: 0 0 10%;
}


// .centered-img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;

// }

.navbar-brand
{
  flex: 1 1 40%;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
  display: flex;
}

.navbar-lewagon .navbar-buffer {
  flex: 0 0 13%;
  height: 50px;
}

.navbar-toggler {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #E7E8E3 ;
  border: 0px;
}

.navbar {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  background-color: #F3F5F6;


}



.navbar-item img {
  fill: green !important;
}



.nav-item a {
    border-bottom: solid rgba(0,0,0,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
}

.nav-item img {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 40px;

}



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.nav-flex-14 {
  flex: 0 0 14%;
  height: 50px;
}

.nav-flex-14 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 5px 0;
}

@media (min-width: 900x) {
  .aa-navbar-hres {
    display: block;
    width: 200px;
    max-width: 200px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 576px) {

  .aa-navbar-artaetas {
  // width: 40px;
  width: 200px;
  max-width: 200px;
  margin-left: 0px;
  margin-right: 0px;
  }

  .navbar-lewagon .navbar-buffer {
    display:none;
  }

  .nav-item a {
    border: none;
  }

  .nav-item img {
    padding-top:5px;
    padding-bottom: 5px;

}

div .dropdown {
  position: absolute;
  right: 5px;
}

.navbar-collapse {
 margin-right: 4%;
}

}




// .nav-item {
//    padding-top: 10px !important;
//    padding-bottom: 10px !important  ;
// }


