<p>Bonjour <%= @resource.email %></p>
<br>
<p>Vous recevez cet email car vous venez de demander la réinitialisation de votre mot de passe pour votre compte membre sur ARTAETAS.COM. </p>
<p>Si vous êtes à l’origine de cette demande, nous vous invitons à cliquer sur le lien ci dessous pour procéder à la réinitialisation. </p>
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>Si vous n’êtes pas à l’origine de cette demande, nous vous prions de ne pas procéder à cette réinitialisation et de nous signaler cet incident en écrivant à l’adresse dpo@artaetas.com.</p>
<br>
<p>Bien cordialement</p>
<p>L’équipe ARTAETAS</p>
<br>
<p>Cet email est un email automatique, veuillez ne pas y répondre. </p>
<p>Nous vous invitons à écrire à contact@artaetas.com pour tout renseignement.</p>

