.aa-archive-donone, .aa-archive-dontwo  {
    display: none;
}

.aa-archive-mainquestionone:checked ~  .aa-archive-flexitem > .aa-archive-donone {
    display: block;
}

.aa-archive-mainquestiontwo:checked ~ .aa-archive-flexitem > .aa-archive-dontwo {
    display: block;
}

.aa-archive-confirm {
    position: relative;
    top: 15px;
}

// .aa-archive-mainquestion:checked ~ .aa-archive-confirm {
//     position: relative;
//     top: 75px;
// }

.aa-don-width {
    width: 55px;
}

.aa-archive-flex {
    display: flex;
    margin-left: 25%;
    // margin-right: 25%;
    flex-direction: column;
    align-items: flex-start;
}

.aa-archive-flexitem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-check-input:checked + label {
    color: #1d5f8f;
    background-color: transparent !important;
}
input[type="radio"]:checked + label {
    color: #1d5f8f;
    background-color: transparent !important;    
}