// Import page-specific CSS files here.
// @import "home";

@import "new";
@import "show";
@import "search";

* { margin: 0 }

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #ECECEC;
}

a { text-decoration: none}
a:hover { text-decoration: none}
a:focus { text-decoration: none}

.p-accroche-mobile { display: none ; }



.aa-accroche {
  height: 65px;
  width: 100%;
  position: relative;
  margin-top: 50px;
  height: 10%;
  background-color: #ececec;
}

.aa-accroche-button {
  display: none;
}

.aa-accroche-button {
  border-width: 1px;
  border-style: solid;
  padding: 5px 2.5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  background-color: white;
  color: black;
  position: absolute;
  left: 50%;
  transform: translate(-70%, 0%);
  font-size: xx-small;
  bottom: -7%;

}

.aa-accroche-texture {
  height: 75%;
  width: 100%;
  background-image: image-url('texture.jpg');
  text-align: center;
  // padding-top: 10px;
}

.aa-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  height: 13%;
  justify-content: center;

}
.aa-button-decouvrir {
  flex: 0 0 25%;
  align-self: center;
  display: flex;
  // justify-content: flex-end;
  background-color: white;
  color: #3A89C1;
  padding: 10px 5px;
  margin-left:10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 10px;
  border: solid 1px rgba(50,50,50,0.2);
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 52px;
  font-size: 18px;
}
.aa-button-deposer {
  flex: 0 0 25%;
  align-self: center;
  display: flex;
  // justify-content: flex-start;
  // border: solid 1px;
  padding: 10px 5px;
  color: white;
  background-color: #3A89C1;
  margin-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 10px;
  border: solid 1px rgba(23,57,80,0.6);
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 52px;
  font-size: 18px;
}

.aa-button-symb-blue,
.aa-button-symb-white {
  flex: 0 1 20%;
  align-self: center;
  display: flex;
  align-items: flex-enda;
}

.aa-button-text {
  flex: 0 0 66%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
  line-height: 1.4em;
  white-space: nowrap;
  cursor: pointer;
}

.aa-button-symb-blue a svg {
  width: 30px !important;
  height: 30px !important;
  margin-left: auto;
}
.aa-button-symb-white a svg {
  width: 22px !important;
  height: 22px !important;
  margin-left: auto;
}


.aa-button-symb-blue a,
.aa-button-symb-white a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.aa-button-symb-blue a svg path {
 fill: #4787B6;
}

.aa-button-symb-white a svg path {
 fill: white;
}
.aa-button-gros {
  font-size: 1em;
  align-self: center;
}

.aa-button-petit {
  font-size: 1em;
  align-self: center;
}

.aa-button-link {
  flex: 0 0 auto;
  border-width: 1px;
  border-style: solid;
  padding: 10px 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:10px;
  border-radius: 5px;
  width: 180px;
  text-align: center;
}

.aa-deposer {
 background-color: #4787B6;
 color: white;
}

.aa-decouvrir {
  background-color: white;
  color: #4787B6;
}

.aa-who {
  height: 150px;
  background-color: white;
  height: 28%;
  font-size: 11px;
}
.aa-who-modal-title {
  text-align: center;
  width: 100%;
}

.aa-who,
.aa-who-modal {
   text-align: center;
}

.aa-who svg,
.aa-who-modal svg {
  max-width: 125px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.aa-who svg {
  margin-bottom: 6px;
}


.aa-who-modal-header svg {
  max-width: 125px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.aa-who-modal-header {
  text-align: center;
}


.aa-who h6,
.aa-who-modal h6 {
  margin-top: 10px;
}

.aa-who h6 {
  margin-bottom: 0px;
}



.aa-who-p {
  font-size: 11px;
  text-align: center;
}

.aa-who-footer {
  font-size: xx-small;
  text-align: center;
  margin-top: 5px;
}

.aa-whoo-footer-modal {
  margin-top: 5px;
}

.aa-who-p-title {
  font-size: smaller;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
}

.container-annonces {
  --n: 1;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%; // fallback
  width: calc(var(--n)*100%);
  // height: 50vw;
  height: 34vw;
  max-height: 100vh;
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  background-color: #ECECEC;
  height: 45%;


}

p {
  margin: 0px;
  font-size: smaller;
}

.p-titre {

  font-size: xx-small;
  // white-space: nowrap;
  // text-overflow: ellipsis;
   // overflow: hidden;
}
.p-accroche-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.p-accroche-desktop p {
  font-size: 13px;
  font-weight: 500;
  flex: 0 1 auto;
  align-self: center;
  // white-space: nowrap;
}

.p-accroche-desktop p:last-child {

}

.p-description {
  // width: 87%;
  font-size: xx-small;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.container-annonces-div {
    width: 33%; // fallback
    width: calc(33%/var(--n));
    // user-select: none;
    // pointer-events: none;
    border-style: solid 5px;
    // padding-left: 5px;
    // padding-right: 5px;
  }

.annonce-cont-4 {
 display: flex;
 height: 100%;
}
.annonce-column {
  flex: 0 0 50%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
  height: 100%;

}

.aa-annonce-card {
  // background-color: #ececec;
  // max-height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: white;
  flex: 1 1 auto;
}

.annonce-column .aa-annonce-card:first-child {
  justify-content: flex-start;
}

.annonce-column .aa-annonce-card:last-child {
  justify-content: flex-end;
}



.annonce-column .aa-annonce-card:first-child {
  // margin-bottom: 40px;
   // margin-bottom: 5px;
   z-index: 2;
}

.aa-annonce-card-texte {
  flex: 0 0 10%;
  background-color: white;
  z-index: 1;
  width: 100%;
}

.aa-annonce-card img{
  max-width: 100%;
  min-width: 100%;
  // max-height:100%;
  min-height: 87%;
  max-height: 100%;
  flex: 0 1 auto;
  object-fit: cover;


}

[id*=photos] {
   /* Prevent vertical gaps */
   // line-height: 0;

   // -webkit-column-count: 2;
   // -webkit-column-gap:   20px;
   // -moz-column-count:    2;
   // -moz-column-gap:      20px;
   // column-count:         2;
   // column-gap:           20px;
}

[id*=photos] img {
  /* Just in case there are inline attributes */
  // width: 100% !important;
  // height: auto !important;
  // padding: 10px 0px;
}

@media (max-width: 1200px) {
  // .container-annonces div {
  //   width: 33%; // fallback
  //   width: calc(33%/var(--n));
  // }
  // [id*=photos] {
  // -moz-column-count:    4;
  // -webkit-column-count: 4;
  // column-count:         4;
  // }
}
@media (max-width: 992px) {

// .container-annonces-div {
//     width: 33%; // fallback
//     width: calc(33%/var(--n));
//   }
  // [id*=photos] {
  // -moz-column-count:    3;
  // -webkit-column-count: 3;
  // column-count:         3;
  // }
}
@media (max-width: 768px) {

  .container-annonces-div {
    width: 50%; // fallback
    width: calc(50%/var(--n));
  }

  .annonce-column div:first-child {
  // margin-bottom: 40px;
  // margin-bottom: 2vw;
}
  // [id*=photos] {
  // -moz-column-count:    2;
  // -webkit-column-count: 2;
  // column-count:         2;
  // }
}
@media (max-width: 576px) {
    .container-annonces-div {
      width: 100%; // fallback
      width: calc(100%/var(--n));
    }

  .container-annonces {
    // height: 425px;
    // max-height: 100vh;

    min-height: 300px;
    transform: translate(calc(var(--i, 0)/var(--n)*-100%));
    background-color: #ECECEC;
    height: 50%;
   }

  .aa-accroche {
    min-height: 70px;
    height: 10%;
  }

   .aa-who {
    display: none;
    height: 20%;
   }

   .aa-button {
    height: 50px;
    flex-wrap: nowrap;
    height: 15%;
   }

   .aa-button-deposer {
    flex: 1 0 40%;
    justify-content: center;
    margin-left: 0px;
   }

   .aa-deposer {
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    // margin-left: 10px;
    // margin-right: 10px;
   }



   .aa-button-decouvrir {
    flex: 1 0 40%;
    justify-content: center;
    margin-right: 0px;
   }

  .aa-decouvrir {
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    // margin-left: 10px;
    // margin-right: 10px;
  }

   .aa-button-link {
    margin-bottom: 2px;
   }

   .p-accroche-desktop { display: none; }
   .p-accroche-mobile {
     display: block;


  }

  .p-accroche-mobile p {
    font-weight: 500;
    font-size: 9px;
    height: 100%;
    line-height: 13px !important;
  }

  .aa-accroche-texture {
    // padding-bottom: 10px;
    // padding-top: 0px;
  }

  .aa-accroche-button {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 5px 2.5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:10px;
    border-radius: 2px;
    width: 100px;
    text-align: center;
    background-color: white;
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-70%, 0%);
    font-size: xx-small;
    bottom: -7%;
    display: block;

  }

  .annonce-column div:first-child {
    // margin-bottom: 40px;
    // margin-bottom: 4vw;
  }


  .aa-button-gros {
    font-size: 1.2em;
    align-self: center;
    font-weight: bold;
  }

  .aa-button-petit {
    font-size: 1em;

  }

  .aa-button-text {
    flex: 0 0 66%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    line-height: 1em;
  }

  .aa-button-deposer {
    font-weight: normal;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
  }

  .aa-button-decouvrir {
    font-weight: normal;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
  }
}

// body {
//   margin: 0;
//   padding: 0;
// }
