.aa-new-select-choice option:first-child {
  font-style: italic;
}

.aa-new-photo-field {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.hide-photo-btn {
  display: none;
}

.aa-new-photo-field-indivi {
  flex: 1 1 30%;
}

input[type="number"] {
  font-size: 18px !important;
}

.aa-new-containerfield .form-control-label,
.aa-new-containerfield .file,
.aa-new-label  {

color: #212121;

}

.aa-mobile-btn  {
   background-color: $brandcolor;
}

.aa-edit-thumbnail {
  width: 100px;
  height: 100px;
  background-image: image-url('img-fond.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9px;
}

.annonce_photo_un label {
  color: transparent!important;
}

.annonce_photo_deux label {
  color: transparent!important;
}

.aa-new-label-tags,
.form-check {
 font-size: 13px;
 color: #595959;
}


.aa-textalignright {
  text-align: right;
}

.aa-new-bg {
  background-color: $backgroundaa;
  margin-top: 50px;
}

.aa-new-label {
  font-size: 16px;
}

.aa-new-bg .form-check-input {
  position: absolute;
  left: 0%;
}

.aa-new-bg .form-check-label {
  margin-left: 5px;
}

.aa-new-container {
  max-width: 100%;
  width: 1006px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
}

.aa-new-containerfield {
  // border: 1px solid;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: $bloc;
}

.aa-new-containerfield input,textarea {
  margin-right: 5px;
  margin-left: 5px;


}

.aa-new-containerfield textarea {
  height: 75px;


}
.aa-new-accroche {
// border: solid black;
// border-width: 0px 0px 1px 0px;
padding: 15px;
margin-bottom: 10px;

}



.aa-new-titrefield {
  max-width: 100%;
  background-color: $entete;
  color: white;
  padding: 10px;
 }

.aa-new-vafield {
  background-color: $bloc;
  padding: 10px;
  max-width: 50%;
}


@media (max-width: 768px) {

.aa-new-vafield {
  max-width: 100%;
}

.aa-mobile-btn {
  width: 100%;

}

}
