.slider-tick-label {
 font-size: 11px; 
}

.title-slider-label {
  display: flex;
  margin-bottom: 0px;
}

.slider-horizontal {
  margin-bottom: 0px !important;
  // display: none !important;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.aa-label-prix-slider {
  align-self: flex-end;
  margin-bottom: 15px;
  font-size: 11px;
  font-style: italic;
  color: #8f8f8f;
}

.aa-search-grid-container {
  margin-top: 50px;
}

.in {
  opacity: 1;
}

.slider-horizontal .slider-selection {
  background-color: #e0e3e5 !important;
  background-image: none!important;
}

.slider-horizontal {
  align-self: center;
  margin-left: 30px;
}

.aa-search-annonce-container {
  max-width: 1066px ;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: $backgroundaa;

}

.aa-annonce-titre-search {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  color: #212121;

}

.aa-annonce-prix-search {

  font-weight: 700;
  font-style: italic;
  font-size: 13px;
  margin-bottom: 20px;
  color: #595959;

}
.aa-annonce-description-search {

font-weight: 400;
font-size: 11px;
color: #595959;
height: 60%;
overflow: hidden;

}

.aa-search-textfieldwrap {
 flex: 1 0 100% ;
 display: flex;
 justify-content: center;
 align-items: center;
}

.aa-search-field-bg2 {
  display: none;
}

.aa-search-form {
  position: relative;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.aa-search-annonce-card {
  flex: 1 1 100px;
  display: flex;
  flex-direction: raw;
  margin-bottom: 10px;
  height: 200px;
}

.aa-search-annonce-card-detail,
.aa-search-annonce-card-detail:hover,
.aa-search-annonce-card-detail:link,
.aa-search-annonce-card-detail:visited,
.aa-search-annonce-card-detail:active {
  text-decoration: none !important;
  color: black;
}

.aa-search-annonce-card:last-child {
  margin-bottom: 0px;
}
.aa-search-annonce-card-image {
  flex: 0 0 240px;
  display: flex;
  justify-content: center;
  align-items : center;
  height: 200px;
  background-color: $tourimage;
}

.aa-search-annonce-card-detail {
  flex: 1 1 auto;
  align-items: start;
  background-color: $bloc;
  padding: 20px;
  overflow: hidden !important;
  // height: 190px;

}


.aa-search-annonce-card-control {
  flex: 0 1 20px;
  align-items: end;
  background-color: white;
}



.aa-search-annonce-card-image img {
  object-fit: cover; // all in height 
  //object-fit: contain; // adapt in height and width
  height: 100%;
  // max-width: 100%;
  // min-width: 50%;
  width: 100%;
}


.aa-search-field-bg {

  background-color: $backgroundaa;
  margin-top: 75px;
  // height: 200px;
  // height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aa-search-field-bg2 {

 background-color: $backgroundaa;
  margin-top: 50px;
}

.aa-search-field-form {
  // height: 200px;
  // height: 260px;
  width: 100%;
  position: relative;
  max-width: 1000px ;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  background-color: $bloc;
}



.aa-search-field-basis {
  flex-basis: auto;
  margin-left: 0px;
  margin-right: 0px;
  height: 42px;
}

.aa-search-field-text {
  flex: 0 0 60%;
  margin-right: 5px;
  border: none;
  border-radius: 0px;
  padding: 10px 15px;
  background-color: $champs !important;
  margin-bottom: 10px;
  margin-top: 20px;
}

.aa-search-field-form-btn {
  flex: 1 0 30%;
  position: absolute;
  // bottom: -60px;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 5px 70px;
  background-color: $brandcolor !important;
}

.aa-search-field-select {
  // padding: 20px 10px;
  width: 100px;
  margin-top: 10px;
  border: none;
  border-radius: 0px !important;
  font-size: 11px;
  color: #717679;
  background: image-url('br_down.png') no-repeat right 10px center;
  // background-color: $champs;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 20px;
  // border: solid 1px;
  font-style: italic;
  padding-top: 4px;
}

.aa-search-field-text-tag {
   // padding: 20px 10px;
  width: 100px;
  margin-top: 10px;
  border: none;
  border-radius: 0px !important;
  font-size: 11px;
  color: #717679;
  // background: image-url('br_down.png') no-repeat right 10px center;
  background-color: $champs;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 20px;
  // border: solid 1px;
  font-style: italic;
}

.aa-search-annonce-card:last-child {
  margin-bottom: 50px;

}

.aa-search-field-select-tag {
  flex: 0 1 20%;
}



.aa-search-field-select:nth-of-type(2) {
  // margin-left: 20px;
  // border-style: solid;
  // border-width: 0px 1px 0px 1px;
}

.aa-search-field-text-tag:nth-of-type(2) {
  margin-left: 50px;
}

.aa-search-field-text-tag:nth-of-type(3) {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
}

.aa-search-field-label-begin {
  margin-top: 20px;
  width: 100px;
}
.aa-search-field-label-end {
  margin-top: 20px;
  width: 20px;
  text-align: center;
}

@media (max-width: 576px) {

  .aa-search-field-basis {
    // flex-basis: 100%;
    margin-left: 0px;
    // margin-right: 66%;
    height: 32px;
  }
  
  [class*="multiple-dd"] {
    height: unset !important;
  }
  
  .aa-search-field-select {
    padding-left: 0px;
  }
  
  .aa-search-textfieldwrap {
   flex-wrap: wrap;
  }
  
  .aa-search-field-bg {
    // display: none;
    // height: unset;
    margin-top: 48px;
  }
  
  .aa-search-field-mobile {
    display: block;
    position: fixed;
    z-index: 4;
    top: 50px;
    // height: unset;
    width: 100%;
    background-color: $champs;
    overflow-y: hidden;
  }
  
  .aa-search-hidden {
    display: none;
  }
  
  .aa-search-mobile {
    z-index: 5;
    display: block;
  }
  
  .aa-search-field-form {
    z-index: 5;
    // height: unset;
  
  }
  
  .aa-search-field-text {
    flex: 1 0 90%;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  #ordre_annonce {
    padding-left: 5px;
  }
  
  .aa-search-field-form-btn {
    flex: 1 0 90%;
    margin-bottom: 20px;
    position: absolute;
    transform: none;
    left: initial;
    bottom: -11px;
    width: 98%;
  }
  
  .aa-search-field-select:nth-of-type(3) {
    margin-left: 0px;
  }
  
  .slider-horizontal {
    display: none !important;
  }
  
  .title-slider-label {
    display: none;
  }
  
  .multiple-dd8 {
    margin-bottom: 35px;
  }

}
