.aa-show-interess-title {
    margin-top: 20px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: lightgray;
    padding-top: 20px;
    text-align: center;
}

.aa-show-report {
  display: flex;
  justify-content: flex-end;
}

#annonce_corpscontact {
  height: 150px;
}

.aa-svg-report {
  height: 25px;
  width: 25px;
}

.aa-svg-report path {
 fill: #7d7d7d;
}

.aa-show-report-a {
  display: flex;
  flex-direction: row;
}

.aa-show-report-a p {
  margin-left: 10px;
  color: #7d7d7d;
  align-self: center;
}

.align-self-centeraa {
  align-self: center;
}

.aa-show-categorie-list {
  display: flex;
  flex-direction: row;
}

.aa-show-categorie-indivi {
  height: 30px;
  padding: 5px 15px;
  color: white;
  background-color: $secondaryaa;
  margin-right: 5px;
  border-radius: 5px;
}



.ssb-facebook {
 background-image: image-url('fb-g.png') !important;
}

.ssb-twitter {
  background-image: image-url('tw-g.png') !important;
}

.ssb-pinterest {
  background-image: image-url('pint-g.png') !important;
}

.ssb-linkedin {
  background-image: image-url('in-g.png') !important;
}

.ssb-tumblr {
 background-image: image-url('tumblr-g.png') !important;
}


.ssb-facebook2 {
 background-image: image-url('fb2.png') !important;
}

.ssb-twitter2 {
  background-image: image-url('tw2.png') !important;
}

.ssb-pinterest2 {
  background-image: image-url('pint2.png') !important;
}

.ssb-linkedin2 {
  background-image: image-url('in2.png') !important;
}

.ssb-tumblr2 {
 background-image: image-url('tumblr2.png') !important;
}



.ssb-insta2 {
 background-image: image-url('insta2.png') !important;
}

.social-share-button {
  display: flex;
}


.ssb-icon {
  // border: 1px solid !important;
  border: 3px solid !important;
  border-radius: 45px !important;
  border-color: lightgray !important;
  padding: 20px !important;
  align-self: center;

}

.ssb-icon2 {
  // border: 1px solid !important;
  border: 0px solid !important;
  border-radius: 0px !important;
  border-color: lightgray !important;
  padding: 20px !important;

}

.aa-show-titre {
  margin-bottom: 1px;
  font-size: 1.1rem;
}

.aa-show-detailannonce-description {
  padding-bottom: 10px;
}

.aa-show-contact-profil-photo a {
  display: flex;
  justify-content: center;
}

.aa-show-contact-profil-photo a svg {
  // align-self: center;
}

.aa-show-user-link {
  font-size: 18px;
  font-weight: 700;
  color: black;
  line-height: 15px;
}


.aa-show-contact-profil-nbannonces {
  font-style: italic;
  font-weight: 700;
  color: #818181;
  font-size: 13px;
  margin-bottom: 5px;
}

.aa-show-contact-profil-statut {
  // font-style: italic;
  font-weight: 700;
  color: #818181;
  font-size: 13px;
  // margin-bottom: 5px;
}




.aa-show-detailuser-contact-btn {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  background-color: $brandcolor;
  color: white!important;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.aa-show-detailuser-followbtn {
  padding: 0px 5px;
  // height: 28px;
  background-color: $bloc;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  margin-bottom: 2px;
  width: fit-content;
  height: fit-content;
  line-height: 18px;
  
}

.aa-show-suivre-link {
  font-size: 11px;
}

.aa-show-detailuser-followbtn b {
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  padding: 0px 5px;
}

.aa-show-contact-svg {
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.aa-show-contact-svg path {
  fill: #818181;
}



.aa-show-detailuser-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: lightgray;
  padding-bottom: 20px;
}

.aa-show-detailuser-contact-email,
.aa-show-detailuser-contact-tel {
  text-align: center; 
  align-self: center;
  width: 100%;
  margin-bottom: 5px;
}




.aa-show-contact-profil-photo {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
}

.aa-show-contact-profil-detail {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.aa-show-detailuser-contact-profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.aa-show-bg {
 background-color: $backgroundaa;
 margin-top: 53px;
}

.aa-show-container {
  display: flex;
  flex-direction : row;
  max-width: 100%;
  width: 1006px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.aa-show-marginbottom {
  margin-bottom: 10px;
  padding-top:  10px;
}

#aa-show-nopaddingtop {
  padding-top: 0px;
}

.aa-show-detailuser {
  min-width: 34%;
  margin-left: 20px;
}

.aa-show-detailannonce {
  min-width: 66%;

}

.aa-show-separator {
  margin-top: 10px;
}

.aa-show-border-bottom {
 border: solid rgba(0,0,0,0.2);
 border-width: 1px 0px 0px 0px;
}

.aa-show-border-topbottom {
  border: solid rgba(0,0,0,0.2);
  border-width: 1px 0px 1px 0px;
}

.aa-show-detailannonce-photo {
  background-color: $bloc;
  position: relative;
}


.aa-show-favlike {
  width: 40px;
  height: 80px;
  position: absolute;
  bottom: 0%;
  right: 5%;
  z-index: 4;
  background-color: $bloc;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

.aa-show-like {
  background-color: $secondaryaa;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aa-show-fav {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aa-show-like-counter {
  background-color: $brandcolor;
  color: white;
  border-radius: 2px;
  font-size: 10px;
  text-align: center;
}


.aa-show-like-svg-container {
  align-self: center;
}

.aa-show-fav-svg-container {
  align-self: center;
  margin-top: 5px;
}
.aa-show-fav-svg,
.aa-show-unfav-svg,
.aa-show-standard-svg {
  height: 25px;
  width: 25px;
}

.aa-show-fav-svg path {
  fill: #478BBA ; 
}

.aa-show-unfav-svg path {
  fill: #ffd400 ; 
}

.aa-show-follow-svg path {
  fill: #3C8AC0;
}

.aa-show-follow-svg {
  height: 15px;
  width: 15px;
}

.aa-show-mailto {
  color: white;
  font-size: 15px;
}

.aa-show-call-svg {
  height: 20px;
  width: 20px;
  align-self: center;
}

.aa-show-call-svg path {
  fill: white;
}

.aa-show-share-title {
  font-size: 15px;
  font-weight: 500;
  color: #818181;
  margin-bottom: 20px;
}

.aa-show-dislike-svg,
.aa-show-like-svg{
  height: 25px;
  width: 25px;
}

.aa-show-dislike-svg path {
  fill: #ff0000;
}

.aa-show-like-svg path {
  // fill: #ff0000 ; 
  fill: #478BBA;
}


.aa-show-minheight {
  min-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.aa-show-detailannonce-titre {
  background-color: $bloc;
  margin-bottom: 15px;
  min-height: 100px;
}

 .aa-show-detail-italic {
   font-style: italic;
   color: #585A59;
   font-weight: 700;
   font-size: 13px;
   line-height: 13px;
 }

.aa-show-detailannonce-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.aa-show-detailannonce-header {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.aa-show-price {
// color: #252525;
 color: $brandcolor;
  margin-top: 15px;
  font-size: 1rem !important;
}

.aa-show-thumbnail {
  // border-radius: 40px;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.aa-show-thumbnail-container {
  flex: 0 0 auto;
}

.aa-show-detailannonce-photo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  // max-height: 300px;
  // max-width: 90%;
  width: 90%;
}

.aa-show-description {
  white-space: pre-wrap;
}

.aa-show-detailuser-contact {
  background-color: $bloc;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
display: flex;
flex-direction: column;
align-items: center;
padding-left: 25px;
padding-right: 25px;
}

@media (max-width: 768px) {

.aa-show-container{
  flex-direction: column;
}

.aa-show-detailannonce-photo img {
  width: 100%;
  max-height: 100%  ;
}

.aa-show-detailuser {
  margin-left: 0px;
}

}
