.aa-me-container2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1066px;
  padding-left: 15px;
  padding-right: 15px;
}

.aa-me-show-fondprofilcontainer {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 200px;
}

.aa-me-descriptionuser {
  background-color: $bloc;
  width: 100%;
  // height: 400px;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
}

.aa-me-descriptionuser-top {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
}

.aa-me-descriptionuser-bottom  {
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
}

.aa-me-descriptionuser-portrait {
  flex: 1 1 33%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.aa-me-descriptionuser-caracteristiques {
  flex: 1 1 33%;
}

.aa-me-descriptionuser-stats {
  flex: 1 1 33%;
}

.aa-me-descriptionuser-descr {
  flex: 1 1 66%;
}

.aa-me-descriptionuser-stats2 {
  flex: 1 1 33%;
}

.aa-me-descriptionuser-portraitfond {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  background-color: $bloc;
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
}


.aa-me-show-portraitphoto {
  height: 180px;
  width: 180px;
  border-radius: 180px;
  align-self: center;
}

.aa-me-favoriuser {
  height: 100px;
  width: 100%;
  background-color: black;
}

// ######################################################################



.aa-me-show-details {
  margin-top: 16px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 50%;
  position: absolute;
  left: 3%;


}

.aa-me-show-details-encart {
  // margin-left: 15%;
  // margin-right: 15%;
  background-color: transparent;
  flex: 1 1 auto;
  color: white;
  margin-left: 35px;
}

.aa-me-container-top {
  margin-top: 55px;
}

.aa-me-show-profil {
  flex: 0 1 20%;
  display: flex;
  justify-content: center;
}

.aa-user-show-bg {
  background-color: $backgroundaa;
 
}

.aa-me-show-fondprofil {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  width: 100%;
  height: 200px;
  position: relative;
  
}

.aa-me-show-profilphoto {
  height: 150px ;
  width: 150px ;
  border-radius: 150px;
  object-fit: cover;
}

.aa-me-show-details-secondaires {
  background-color: $backgroundaa;
  // padding: 20px;
}

.aa-me-show-details-description,
.aa-me-show-details-rsociaux,
.aa-me-show-details-fav,
.aa-me-show-details-follow,
.aa-me-show-details-like {
  background-color: $bloc;
  margin-bottom: 20px;
  padding: 20px;
// 	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
// 	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
// 	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	min-height: 100px;
}

.aa-me-show-details-userlike {
  color: white;
  top: 5%;
  right: 5%;
  position: absolute;
}

.aa-ilotprofil-show {
  color: $ilotprofil;
  height: 25px;
  padding: 9px 0px 0px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 10px;
  width: fit-content;
  border-width: 0px 0px 7px 0px;
  border-style: solid;
  border-color: rgba(58,137,193,0.4);
  margin-left: 5px;
}

.aa-ilotprofil-corpus {
  padding: 0px 10px 0px 10px;
}

.aa-me-show-minisvg {
  height: 20px;
  width: 20px;
  align-self: flex-end
}

.aa-me-show-minisvg path {
  fill: $entete;
}

.aa-me-show-entete {
  display: flex;
  justify-content: left;
}

.aa-me-show-profilblank path {
  fill: $entete;
}

.aa-me-show-svg-filter {
 -webkit-filter: invert(.8);
  filter: invert(.8);
}

.aa-me-show-smallersvg {
  height: 15px;
  width: 15px;
  align-self: flex-end
}

.aa-ilotprofil-rs {
  padding-left: 25px;
}