.aa-me-show-fondprofilcontainer > img {
    object-fit: cover;
    max-width: 1066px;
}

.aa-show-retour {
  position: absolute;
  // top: 5px;
  top: 55px;
  right: 50%;
  transform: translateX(50%);
  max-width: 300px;
  height: 40px;
  background-color: $bloc;
  padding: 0px 20px 0px 20px;
}

.aa-show-retour-svg {
  height: 20px;
  width: 20px;
}

.aa-show-retour-svg path {
  fill: #585a59;
}

.aa-show-retour > a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  color: #585a59;
}


.aa-show-retour > a > span,
.aa-show-retour-svg{
  align-self: center;
}

.user_remember_me {
  padding-left: 19px;
}

.aa-me-container2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1066px;
  padding-left: 15px;
  padding-right: 15px;
}

.aa-statsblue-greyp {
  color: #27456e;
  font-size: 12px;
  line-height: 14px;
}


.aa-me-container2 > .aa-me-annonceuser > .aa-search-annonce-container > .aa-search-annonce-card {
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.aa-me-container2 > .aa-me-annonceuser > .aa-search-annonce-container > .aa-search-annonce-card > .aa-search-annonce-card-detail > .aa-p-description,
#annonces >.aa-search-annonce-container > .aa-search-annonce-card > .aa-search-annonce-card-detail > .aa-p-description {
  margin-top: 12px !important;
  // line-height: 25px !important;
  height: 85px;
  overflow: hidden;
}

.aa-me-show-fondprofilcontainer {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aa-me-descriptionuser {
  background-color: $bloc;
  width: 100%;
  // height: 400px;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  // padding-bottom: 30px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  // height: 500px;
}





.aa-me-descriptionuser-left {
  flex: 0 0 66%;
  display: flex;
  flex-direction: column;
  // max-height: 200px;
}

.aa-me-descriptionuser-right  {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.aa-me-descriptionuser-topleft {
  display: flex;
  flex-direction: row;
  flex: 0 0 200px;
  padding-top: 30px;
  height: 200px;

}

.aa-me-descriptionuser-portrait {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.aa-me-descriptionuser-caracteristiques {
  flex: 0 0 50%;
  // padding-top: 30px;
}

.aa-me-descriptionuser-stats {
  flex: 1 0 auto;
  // height: 200px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aa-me-descriptionuser-descr {
  flex: 0 0 50%;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: justify;
}

.aa-me-descriptionuser-descr > p {
    white-space: pre-wrap;
    // max-height: 115px;
    // max-height: 150px;
    // overflow-y: hidden;
}

.aa-me-descriptionuser-stats2 {
  flex: 0 0 50%;
  padding-top: 15px;
  padding-bottom: 30px;
}

.aa-me-descriptionuser-portraitfond {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  background-color: $bloc;
  position: relative;
  top: -75px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}


.aa-me-show-portraitphoto {
  height: 230px;
  width: 230px;
  border-radius: 230px;
  align-self: center;
  object-fit: cover
}

.aa-me-favoriuser {
  height: 200px;
  width: 100%;
  background-color: $bloc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.aa-me-favoriuseritem {
  flex: 0 0 20%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.aa-me-favoriuser-image {
  object-fit: contain;
  height: 100%;
  // max-width: 90%;
  width: 90%;
}

.aa-me-favoriuser-image-bm {
  object-fit: contain;
  height: 100%;
  // max-width: 90%;
  width: 90%;
}

.aa-show-user-pub img {

object-fit: contain !important;

}


.aa-me-annonceuser {
  margin-top: 50px;
}

.aa-p-description {
  margin-top: 20px;
}

.aa-me-descriptionuser-statsblue {
  background-color: $brandcolor;
  flex: 1 1 80%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.aa-statsblue-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aa-statsblue-stats > div {
  flex: 1 1 auto;
  
}

.aa-me-descriptionuser-statsblue > div {
  flex: 1 1 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.aa-statsblue-stats-likecount,
.aa-statsblue-stats-followerscount,
.aa-statsblue-stats-followeecount {
  flex: 1 1 auto;
  align-self: center;
  text-align: center;
}


.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-tel > .aa-show-detailuser-contact-btn > svg > path,
.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-email > .aa-show-detailuser-contact-btn > svg > path {
  fill: #585a59 !important;
}

.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-email > .aa-show-detailuser-contact-btn,
.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-tel > .aa-show-detailuser-contact-btn,
.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-email > .aa-show-detailuser-contact-btn > .aa-show-mailto,
.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-tel > .aa-show-detailuser-contact-btn > .aa-show-mailto {
  background-color: $bloc !important;
  color: #585a59 !important;
  
}

.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-tel {
  padding-top: 5px;
}

.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-email {
  padding-top: 10px;
  display: flex;
}

.aa-me-descriptionuser-statsblue > .aa-show-detailuser-contact-email > .aa-show-detailuser-contact-btn {
  align-self: center;
}

.aa-statsblue-whitep {
  color: $bloc;
}


// ######################################################################



.aa-me-show-details {
  margin-top: 16px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 50%;
  position: absolute;
  left: 3%;


}

.aa-me-show-details-encart {
  // margin-left: 15%;
  // margin-right: 15%;
  background-color: transparent;
  flex: 1 1 auto;
  color: white;
  margin-left: 35px;
}

.aa-me-container-top {
  margin-top: 55px;
}

.aa-me-show-profil {
  flex: 0 1 20%;
  display: flex;
  justify-content: center;
}

.aa-user-show-bg {
  background-color: $backgroundaa;
 
}

.aa-me-show-fondprofil {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  width: 100%;
  height: 200px;
  position: relative;
  
}

.aa-me-show-profilphoto {
  height: 150px ;
  width: 150px ;
  border-radius: 150px;
  object-fit: cover;
}

.aa-me-show-details-secondaires {
  background-color: $backgroundaa;
  // padding: 20px;
}

.aa-me-show-details-description,
.aa-me-show-details-rsociaux,
.aa-me-show-details-fav,
.aa-me-show-details-follow,
.aa-me-show-details-like {
  background-color: $bloc;
  margin-bottom: 20px;
  padding: 20px;
// 	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
// 	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
// 	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	min-height: 100px;
}

.aa-me-show-details-userlike {
  color: white;
  top: 5%;
  right: 5%;
  position: absolute;
}

.aa-ilotprofil-show {
  color: $ilotprofil;
  height: 25px;
  padding: 9px 0px 0px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 10px;
  width: fit-content;
  border-width: 0px 0px 7px 0px;
  border-style: solid;
  border-color: rgba(58,137,193,0.4);
  margin-left: 5px;
}

.aa-ilotprofil-corpus {
  padding: 0px 10px 0px 10px;
}

.aa-me-show-minisvg {
  height: 20px;
  width: 20px;
  align-self: flex-end
}

.aa-me-show-minisvg path {
  fill: $entete;
}

.aa-me-show-entete {
  display: flex;
  justify-content: left;
}

.aa-me-show-profilblank path {
  fill: $entete;
}

.aa-me-show-svg-filter {
 -webkit-filter: invert(.8);
  filter: invert(.8);
}

.aa-me-show-smallersvg {
  height: 15px;
  width: 15px;
  align-self: flex-end
}

.aa-ilotprofil-rs {
  padding-left: 25px;
}

.aa-me-brmobile {
  display: none;
}


@media (max-width: 800px)  {
  
  .aa-me-show-fondprofilcontainer > img {
    width: 100%;
    object-fit: cover;
    max-height: 150px;
  }
  .aa-me-show-fondprofilcontainer {
    margin-bottom: 51px; // anciennement 53px
    height: initial;
  }
  
  .aa-me-descriptionuser {
    flex-direction: column;
  }
  

  .aa-me-descriptionuser-descr {
    padding-right: 0px;
    padding-bottom: 15px;
  }

  .aa-me-descriptionuser-topleft {
    height: initial;
    flex-direction: column;
    flex: 1 1 auto;
  }
  
  .aa-me-descriptionuser-portrait {
    flex: 0 0 175px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;

  }
  
  .aa-me-descriptionuser-caracteristiques {
    text-align: center;
  }
  
  .aa-show-detailuser-followbtn {
    position: relative !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  
    .aa-show-detailuser-followbtn-fav {
    position: relative !important;
    // left: 50% !important;
    // transform: translateX(-50%) !important;
  }
  
  .aa-me-descriptionuser-right {
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .aa-statsblue-stats {
    flex-direction: column;
  }
  
  .aa-me-descriptionuser-stats2 {
    padding: 15px 0px;
    flex: 0 1 50%;
  }
  .aa-me-descriptionuser-stats {
    padding: 15px 0px;
    flex: 0 1 50%;
  }
  
  .aa-me-descriptionuser-statsblue {
    flex: 0 1 auto;
  }
  

}

@media (max-width: 576px)  {
  
  .aa-me-brmobile {
    display: block;
  }

  
  .aa-me-descriptionuser-right {
      flex-direction: column-reverse;
  }
  
  .aa-me-descriptionuser-stats2 {
    text-align: center;
  }
  
}

@media (max-width: 400px)  {
  
  .aa-me-descriptionuser-portraitfond {
    // box-shadow: none;
    // background-color: transparent;
    position: absolute;
  }
  
  
    .aa-search-annonce-card-detail {
    display: none;
  }
  .aa-search-annonce-card-control{
    display: none;
  }
  .aa-search-annonce-card-image {
    flex: 1 1 auto;
  }
  
  .aa-me-favoriuser {
    flex-direction: column;
    height: initial;
    background-color: #CAD1D9;
  }
  .aa-me-favoriuser-image{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px
  }
  
  .aa-me-favoriuser-image-bm{
    position: relative;
    /*left: 50%;
    transform: translateX(-50%);
    max-height: 250px*/
  }
  
  .aa-me-descriptionuser-stats2 {
    padding: 15px 0px;
    flex: 1 1 45%;
  }
  .aa-me-descriptionuser-stats {
    padding: 15px 0px;
    flex: 1 1 45%;
  }
  .aa-show-detailuser-contact-btn {
    height: 45px;
  }
  
}

// @media (max-width: 320px)  {
//   .aa-me-descriptionuser-right {
//       flex-direction: column-reverse;
//   }
  
//   .aa-me-descriptionuser-stats2 {
//     text-align: center;
//   }
  
// }